.about-reviews
    p.about-reviews-h Отзывы наших счастливых клиентов
    .about-reviews-slider#aboutreviewsSlider(data-flickity='{ "groupCells": false , "wrapAround": false , "pageDots" : false , "prevNextButtons" : false }')
        .about-reviews-slider-element
            p.about-reviews-slider-element-text «Хочу выразить огромнейшую благодарность вашему сотруднику Ларионову Максиму за его высокий профессионализм. Это чуткий, вежливый, отзывчивый, деликатный, очень грамотный молодой человек настроил мне аппарат Prizma 25st. Такого комфортного дыхания я не испытывал наверное со дня своего рождения. В лице Максима я имею полное представление о Вашей компании. Большое Вам спасибо за то, что помогаете нам..»
            p.about-reviews-slider-element-name Екатерина Ягудина
            p.about-reviews-slider-element-item Купила аппарат Prizma 25st
        .about-reviews-slider-element
            p.about-reviews-slider-element-text «Хочу выразить огромнейшую благодарность вашему сотруднику Ларионову Максиму за его высокий профессионализм. Это чуткий, вежливый, отзывчивый, деликатный, очень грамотный молодой человек настроил мне аппарат Prizma 25st. Такого комфортного дыхания я не испытывал наверное со дня своего рождения. В лице Максима я имею полное представление о Вашей компании. Большое Вам спасибо за то, что помогаете нам..»
            p.about-reviews-slider-element-name Екатерина Ягудина
            p.about-reviews-slider-element-item Купила аппарат Prizma 25st

        .about-reviews-slider-element
            p.about-reviews-slider-element-text «Хочу выразить огромнейшую благодарность вашему сотруднику Ларионову Максиму за его высокий профессионализм. Это чуткий, вежливый, отзывчивый, деликатный, очень грамотный молодой человек настроил мне аппарат Prizma 25st. Такого комфортного дыхания я не испытывал наверное со дня своего рождения. В лице Максима я имею полное представление о Вашей компании. Большое Вам спасибо за то, что помогаете нам..»
            p.about-reviews-slider-element-name Екатерина Ягудина
            p.about-reviews-slider-element-item Купила аппарат Prizma 25st

        .about-reviews-slider-element
            p.about-reviews-slider-element-text «Хочу выразить огромнейшую благодарность вашему сотруднику Ларионову Максиму за его высокий профессионализм. Это чуткий, вежливый, отзывчивый, деликатный, очень грамотный молодой человек настроил мне аппарат Prizma 25st. Такого комфортного дыхания я не испытывал наверное со дня своего рождения. В лице Максима я имею полное представление о Вашей компании. Большое Вам спасибо за то, что помогаете нам..»
            p.about-reviews-slider-element-name Екатерина Ягудина
            p.about-reviews-slider-element-item Купила аппарат Prizma 25st

    .about-reviews-buttons
        .about-reviews-buttons-btn#aboutReviewsPrev
            svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
        .about-reviews-buttons-btn#aboutReviewsNext
            svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M10 10.0002L2 18.0002', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                path(d='M10 10.0002L2.00016 2.00028', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')