.article-a
    h.article-heading Мокрота - что это?
    img.article-image(src="./img/img31.png")
    != partial("./article-text")
    != partial("./article-text")
.article-quote-wrapper
    .article-quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis cum debitis, deleniti dignissimos est id iure modi nesciunt nihil nobis obcaecati omnis, quisquam suscipit tempore, totam ullam ut voluptatum.
.article-a
    != partial("./article-text")
    != partial("./article-text")

