.cart-wrapper
    .cart
        p.cart-h Корзина (5)
        .cart-code
            .cart-code-r1
                .cart-code-r1-ico
                .cart-code-r1-text
                    p.cart-code-t1-text-h Промокод
                    p.cart-code-t1-text-p Код, который вы получили в наших рекламных материалах
            .card-code-r2
                input.card-code-r2-input
                button.card-code-r2-button

        .cart-element
            .cart-element-c1
                img.cart-element-c1-ico
            .cart-element-c2
                .cart-element-c2-name Кислородный концентратор Philips SimplyGo
                .cart-element-c2-calc
                    .cart-element-c2-calc-input
                        .cart-element-c2-calc-input-minus
                        .cart-element-c2-calc-input-el
                        .cart-element-c2-calc-input-plus
                    .cart-element-c2-calc-price 135 000 ₽/шт
                .cart-element-c2-price
                    .cart-element-c2-price-discount 150 000 ₽
                    .cart-element-c2-price-last 160 000 ₽
            .cart-element-c3

        p.cart-kit Комплект:

        .cart-subelement
            .cart-subelement-ico
            .cart-subelement-name Кислородный концентратор Philips SimplyGo

        .cart-kit-total

            .cart-kit-total-calc
                .cart-kit-total-calc-p Комплектов:
                .cart-kit-total-calc-minus
                .cart-kit-total-calc-el
                .cart-kit-total-calc-plus
            .cart-kit-total-price
                .cart-kit-total-price-discount
                .cart-kit-total-price-last

    .cart-total
        p.cart-total-h Мой заказ
        .cart-total-table
            .cart-total-table-r
                .cart-total-table-r-key Товары (5)
                .cart-total-table-r-value 279 150 ₽
            .cart-total-table-r
                .cart-total-table-r-key Скидка на товары
                .cart-total-table-r-value -27 050 ₽
            .cart-total-table-r
                .cart-total-table-r-key Доставка
                .cart-total-table-r-value Бесплатно
        .cart-total-total Итого
        button.cart-total-checkout Оформить
        button.cart-total-checkout-manager Оформить с помощью менеджера
