script.
    function checkout1 () {
        const info  = [
            document.getElementsByClassName("checkout-stage-container-inputs-c-input")[0].value,
            document.getElementsByClassName("checkout-stage-container-inputs-c-einput-el")[0].value,
            document.getElementsByClassName("checkout-stage-container-inputs-c-input")[1].value,
            document.getElementsByClassName("checkout-ainput-el")[0].value
        ]

        console.log(info)
        for(let i = 0 ; i < info.length ; i ++ ) {
            if (info[i] == '' || info[i] == undefined) {
                return
            }
        }
        document.getElementById("checkoutButton1").className = 'checkout-stage-button checkout-stage-button-active'
        return info
    }

    function checkout2 () {
        const info = [
            document.getElementById("checkoutDeliveryIndex").value,
            document.getElementById("checkoutDeliveryTown").value,
            document.getElementById("checkoutDeliveryStreet").value,
            document.getElementById("checkoutDeliveryHouse").value,
            document.getElementById("checkoutDeliveryApart").value,
            document.getElementById("checkoutDeliveryComment").value
        ]
        console.log(info)
        for (let i = 0; i < info.length; i++) {
            if (info[i] == '' || info[i] == undefined) {
                return
            }
        }
        document.getElementById("checkoutButton2").className = 'checkout-stage-button checkout-stage-button-active'
        return info

    }

    window.onload = function () {

        const checkoutButton = document.getElementById("checkoutButton1")
        const checkoutButton2 = document.getElementById("checkoutButton2")
        const checkoutStage2 = document.getElementById("checkoutStage2")
        const checkoutStage3 = document.getElementById("checkoutStage3")
        const deliveryInfod = document.getElementById("deliveryInfod")
        const deliveryInfo = document.getElementById("deliveryInfo")

        checkoutButton.onclick = function () {
            let info = checkout1()
            document.getElementById("checkoutCustomer").innerHTML = (info[0] + ' ' + info[2] + ',')
            document.getElementById("checkoutPhone").innerHTML = (info[1])
            document.getElementById('checkoutHidden').classList = 'checkout-stage-container-hidden checkout-hidden-active'
            document.getElementById('checkoutStage').classList = 'checkout-stage-container checkout-hidden'
            $(checkoutStage2).removeClass('checkout-stage2-hidden');
        }
        let stageContainer = document.getElementById("checkoutStageContainer")
        const stageContainer2 = document.getElementById("checkoutStageContainer2")
        const stageMapButton = document.getElementById("checkoutStageMapButton")
        const checkoutAdress = document.getElementById("checkoutAdress")
        stageContainer.onclick = function () {
            if (event.target.classList[0] != "checkout-stage-container-ii-info-button") {
                $("#checkoutStageContainer").removeClass("checkout-stage-container-hidden")
                stageContainer2.setAttribute("style", "display: none");
            }
        }
        stageMapButton.onclick = function () {
            stageContainer.setAttribute("class",  "checkokut-stage-container checkout-stage-container-hidden")
            $(checkoutStage3).removeClass('checkout-stage3-hidden');

        }
        stageContainer2.onclick = function () {
            if (event.target.classList[0] != "checkout-stage-button")
                $("#checkoutStageContainer2").removeClass("checkout-stage-container-hidden")
        }


        checkoutButton2.onclick = function () {
            let info = checkout2()
            console.log(info)
            $(checkoutStage2).removeClass('checkout-stage-container-hidden');
            stageContainer.setAttribute("style" , "display: none");
            if (document.documentElement.clientWidth < 752) {
                deliveryInfod.setAttribute("style" , "display: block; margin-bottom: 100px");
            }
            checkoutAdress.innerHTML = info[0] + ', ' + info[1] + ', ' + info[2] + ', ' + info[3] + ', ' + info[4]
            deliveryInfod.setAttribute("style" , "display: none");
            deliveryInfo.className = 'checkout-stage-container-info'
            stageContainer2.className = 'checkokut-stage-container checkout-stage-container-hidden'
            $(checkoutStage3).removeClass('checkout-stage3-hidden');

        }

    }





.checkout-wrapper
    .checkout
        a.checkout-back(href="#")
            svg(width='7', height='12', viewBox='0 0 7 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M5.24264 10.7426L1 6L5.24264 1.25735', stroke='#828282', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            | Вернуться в корзину
        .checkout-h Оформление заказа
        .checkout-stage
            .checkout-stage-h
                span.checkout-stage-fraction 1/3
                | Получатель
            .checkout-stage-p
                | На кого оформляется заказ
            .checkout-stage-container#checkoutStage
                .checkout-stage-container-main
                    .checkout-stage-container-inputs
                        .checkout-stage-container-inputs-r
                            div
                                input.checkout-stage-container-inputs-c-input(placeholder="Имя*" required onkeyup="checkout1();")
                            div
                                input.checkout-stage-container-inputs-c-input(placeholder="Фамилия" required onkeyup="checkout1();")

                        .checkout-stage-container-inputs-r
                            div
                                    .checkout-stage-container-inputs-c-einput
                                        .checkout-stage-container-inputs-c-einput-p Номер телефона
                                        input.checkout-stage-container-inputs-c-einput-el(placeholder="+7" , required type="phone" onkeyup="checkout1();")

                                    .checkout-stage-container-inputs-p Для получения скидки плстоянным клиентам
                            div


                                .checkout-ainput-container
                                    input.checkout-ainput-el(type='text', required onkeyup="checkout1();")
                                    label.checkout-ainput-label Почта
                                .checkout-stage-container-inputs-p Пришлем информаицю о статусе заказа
                    button.checkout-stage-button(type="submit" onkeyup="checkout()1;")#checkoutButton1 Продолжить
                    .checkout-stage-checkbox
                        input.checkout-stage-checkbox-el(type="checkbox")
                        p.checkout-stage-checkbox-p Скидка 15% на последующие покупки, за подписку на новости о новинках.

            .checkout-stage-container-hidden#checkoutHidden
                .checkout-stage-container-hidden-c1
                     .checkout-stage-container-hidden-c1-customer
                         span Получатель:
                         span#checkoutCustomer Текст
                     .checkout-stage-container-hidden-c1-phone
                         span#checkoutPhone
                .checkout-stage-container-hidden-c2
                    a.checkout-stage-container-hidden-c2-edit(href="#") Изменить

        .checkout-stage#checkoutStage2.checkout-stage2-hidden
            .checkout-stage-h
                span.checkout-stage-fraction 2/3
                | Адрес и доставка
            .checkout-stage-p
                | На кого оформляется заказ
            .checkout-stage-container-ii
                .checkokut-stage-container.checkout-stage-container-hidden#checkoutStageContainer
                    .checkout-stage-containerii-hidden
                        .checkout-stage-container-hidden-ico
                            svg(width='38', height='37', viewBox='0 0 38 37', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M25.3354 19.3398L17.4326 28.3931L13.5195 24.48', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M1 35.4353H37V11.957H1V35.4353Z', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M26.042 8.04348C26.042 4.15391 22.8866 1 18.9986 1C15.1074 1 11.9551 4.15391 11.9551 8.04348V11.9565H26.042V8.04348V8.04348Z', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M29.1621 8.80078L33.6731 8.82582L36.9992 11.9563', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M15.0762 8.80078H22.9023', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M1 11.9563L4.52174 8.82582L8.81513 8.80078', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        .checkout-stage-container-hidden-text
                            .checkout-stage-container-hidden-text-h Самовывоз
                            .checkout-stage-container-hidden-text-p
                                span Можно забрать:
                                span сегодня с 12:00, бесплатно
                    .checkout-stage-container-ii-info
                        .checkout-stage-container-ii-info-text
                            .checkout-stage-container-ii-info-text-p
                                span Адрес:
                                span г. Москва, Смоленский бульвар,  д. 24, стр. 2, подьезд №3, офис «Медика Трейд»
                            .checkout-stage-container-ii-info-text-p
                                span Готов к выдаче:
                                spam сегодня, 18 июня, 12:00-20:00
                            .checkout-stage-container-ii-info-text-p
                                span Стоимость:
                                span Бесплатно
                            .checkout-stage-container-ii-info-button#checkoutStageMapButton Выбрать этот способ

                        .checkout-stage-container-ii-info-map
                            .checkout-stage-container-ii-info-map-el
                                .checkout-stage-container-ii-info-map-el-close
                                    svg(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        rect(width='32', height='32', fill='white')
                                        path(d='M14.5882 23.9984H8V17.4102', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M24.0003 14.5882V8H17.4121', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M8 24L24 8', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')




                .checkokut-stage-container.checkout-stage-container-hidden#checkoutStageContainer2
                    .checkout-stage-containerii-hidden.checkout-stage-containerii-hidden2
                        .checkout-stage-container-hidden-ico#checkoutTruckico
                            svg(width='38', height='27', viewBox='0 0 38 27', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M22.9141 7.26172H31.97L37.001 15.3114V21.3487H32.3054', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M11.7735 21.3478H22.913L22.8912 1H1', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M1 21.3477H5.69565', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M32.3058 22.9117C32.3058 24.6397 30.9054 26.0421 29.1754 26.0421C27.4474 26.0421 26.0449 24.6397 26.0449 22.9117C26.0449 21.1816 27.4474 19.7812 29.1754 19.7812C30.9054 19.7812 32.3058 21.1816 32.3058 22.9117V22.9117Z', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M11.9581 22.9117C11.9581 24.6397 10.5578 26.0421 8.8277 26.0421C7.0997 26.0421 5.69727 24.6397 5.69727 22.9117C5.69727 21.1816 7.0997 19.7812 8.8277 19.7812C10.5578 19.7812 11.9581 21.1816 11.9581 22.9117V22.9117Z', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M37.001 15.0859H22.9141', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M22.9141 21.3477H26.0445', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M1 5.80078L5.8 5.80678', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M3.40039 10.6016L5.80039 10.6076', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M4.59961 15.4023L5.79961 15.4083', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

                        .checkout-stage-container-hidden-text
                            .checkout-stage-container-ii-edit Изменить
                            .checkout-stage-container-hidden-text-h Курьерская доставка
                            .checkout-stage-container-hidden-text-p#deliveryInfod
                                span Бесплатно от 20 000 ₽
                                span
                            .checkout-stage-container-info.checkout-stage-container-info-hidden#deliveryInfo
                                .container-info-r
                                    span.container-info-hidden-keys Служба доставки:
                                    span.container-info-hidden-val DPD
                                .container-info-r
                                    span.container-info-hidden-keys Адрес:
                                    span.container-info-hidden-val#checkoutAdress
                                .container-info-r
                                    span.container-info-hidden-keys Доставим:
                                    span.container-info-hidden-val 18 августа
                                .container-info-r
                                    span.container-info-hidden-keys Стоимость:
                                    span.container-info-hidden-val 3000₽

                    .checkout-stage-container-ii-info-i
                        .checkout-stage-container-ii-info-r-p Адрес доставки
                        .checkout-stage-container-ii-info-i-r.checkout-stage-container-ii-info-i-ai
                            .checkout-stage-container-ii-info-i-r-inpt#checkoutDeliveryIndexInpt
                                .checkout-ainput-container
                                    input.checkout-ainput-el(type='text', required='' onkeyup="checkout2();")#checkoutDeliveryIndex
                                    label.checkout-ainput-label Индекс
                            .checkout-stage-container-ii-info-i-r-inpt#checkoutDeliveryTownInpt
                                .checkout-ainput-container
                                    input.checkout-ainput-el(type='text', required='' onkeyup="checkout2();")#checkoutDeliveryTown
                                    label.checkout-ainput-label Населенный пункт
                        .checkout-stage-container-ii-info-i-r
                            .checkout-stage-container-ii-info-i-r-inpt#checkoutDeliveryStreetInpt
                                .checkout-ainput-container
                                    input.checkout-ainput-el(type='text', required='' onkeyup="checkout2();")#checkoutDeliveryStreet
                                    label.checkout-ainput-label Улица
                            .checkout-stage-container-ii-info-i-rad
                                .checkout-stage-container-ii-info-i-r-inpt#checkoutDeliveryHouseInpt
                                    .checkout-ainput-container
                                        input.checkout-ainput-el(type='text', required='' onkeyup="checkout2();")#checkoutDeliveryHouse
                                        label.checkout-ainput-label Дом
                                .checkout-stage-container-ii-info-i-r-inpt#checkoutDeliveryApartInpt
                                    .checkout-ainput-container
                                        input.checkout-ainput-el(type='text', required='' onkeyup="checkout2();")#checkoutDeliveryApart
                                        label.checkout-ainput-label Квартира
                        .checkout-stage-container-ii-info-i-r
                            .checkout-stage-container-ii-info-i-r-inpt#checkoutDeliveryCommentInpt
                                .checkout-ainput-container
                                    input.checkout-ainput-el(type='text', required='' onkeyup="checkout2();")#checkoutDeliveryComment
                                    label.checkout-ainput-label Комментарий для курьера
                        .checkout-stage-container-ii-info-i-r
                            button.checkout-stage-button(type="submit" onkeyup="checkout2();")#checkoutButton2 Продолжить




        .checkout-stage#checkoutStage3.checkout-stage3-hidden

            .checkout-stage-h
                span.checkout-stage-fraction 3/3
                | Оплата заказа
            .checkout-stage-p
                | Бонусы, сертификаты, промокоды
            .cart-code
                .cart-code-r1
                    .cart-code-r1-ico
                        svg(width='38', height='38', viewBox='0 0 38 38', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M12.4551 25.546L25.546 12.4551', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M16.5458 14.0913C16.5458 15.4478 15.4462 16.5458 14.0913 16.5458C12.7364 16.5458 11.6367 15.4478 11.6367 14.0913C11.6367 12.7364 12.7364 11.6367 14.0913 11.6367C15.4462 11.6367 16.5458 12.7364 16.5458 14.0913V14.0913Z', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M26.3642 23.9096C26.3642 25.2662 25.2645 26.3642 23.9096 26.3642C22.5547 26.3642 21.4551 25.2662 21.4551 23.9096C21.4551 22.5547 22.5547 21.4551 23.9096 21.4551C25.2645 21.4551 26.3642 22.5547 26.3642 23.9096V23.9096Z', stroke='#4FBBEB', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M37 19C37 28.9409 28.9425 37 19 37C9.06073 37 1 28.9409 1 19C1 9.05909 9.06073 1 19 1C28.9425 1 37 9.05909 37 19V19Z', stroke='#4FBBEB', stroke-width='1.5', stroke-linejoin='round')
                    .cart-code-r1-text
                        p.cart-code-t1-text-h Промокод
                        p.cart-code-t1-text-p Код, который вы получили в наших рекламных материалах
                .card-code-r2
                    input.card-code-r2-input(placeholder="Введите номер")
                    button.card-code-r2-button Применить
            .checkout-stage-checkbox#checkoutFinal
                input.checkout-stage-checkbox-el(type="checkbox")
                p.checkout-stage-checkbox-p Согласен с
                    span условиями заказа и доставки
                    | в этом магазине.
            button.checkout-stage-button.checkout-stage-button-active(type="submit")#checkoutButtonFinal Заказать





    .cart-total
        p.cart-total-h Мой заказ
        .cart-total-table
            .cart-total-table-r
                .cart-total-table-r-key Товары (5)
                .cart-total-table-r-value 279 150 ₽
            .cart-total-table-r
                .cart-total-table-r-key Скидка на товары
                .cart-total-table-r-value.cart-total-table-r-value-red -27 050 ₽
            .cart-total-table-r
                .cart-total-table-r-key Доставка
                .cart-total-table-r-value Бесплатно
        .cart-total-total
            .cart-total-total-h Итого:
            .cart-total-total-price 252 100 ₽
        button.cart-total-checkout Оформить
