.companies
    img.companies-element(src="./img/logo1.png")
    img.companies-element(src="./img/logo2.png")
    img.companies-element(src="./img/logo3.png")
    img.companies-element(src="./img/logo4.png")
    img.companies-element(src="./img/logo5.png")