.companies
    a(href="#")
        img.companies-element(src="./img/logo1.png")
    a(href="#")
        img.companies-element(src="./img/logo2.png")
    a(href="#")
        img.companies-element(src="./img/logo3.png")
    a(href="#")
        img.companies-element(src="./img/logo4.png")
    a(href="#")
        img.companies-element(src="./img/logo5.png")