.compare-popup-wrapper#compareWrapper
    .compare-popup#comparePopup
        .compare-popup-arrow
            svg(width='19', height='20', viewBox='0 0 19 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                rect(y='10.1914', width='13', height='13', transform='rotate(-45 0 10.1914)', fill='white')

        .compare-popup-container
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .compare-popup-element
                img.compare-popup-c1(src="./img/img41.png")
                .compare-popup-c2
                    p.compare-popup-text Invacare XPO2
                    p.compare-popup-price 179 500 ₽
                .compare-popup-c3
                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 14L14 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 2L13.9998 13.9999', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
        .compare-popup-button Сравнить товары
