.index-hcard
    .index-hcard__discount
        p.index-hcard__discount-text
            | Скидки
            | постоянным
            | клиентам
    .index-hcard__supply
        p.index-hcard__supply-text
            | Прямые поставки от производителя
        p.index-hcard__supply-subtext
            | Эксклюзивный дистрибьютор с 2015 года