.item-cart-popup#item-cart-popup
    button.mfp-close(title='Close (Esc)', type='button') ×
    .item-cart-popup-h Товар добавлен в корзину
    .item-saving-container-main-item
        .item-saving-container-main-item-c1
            img.item-saving-container-main-item-c1-el(src="./img/img901.png")
        .item-saving-container-main-item-c2
            .item-saving-container-main-item-c2-h Кислородный концентратор Philips SimplyGo
            .item-main-info-checkout-info
                .item-main-info-checkout-info-price
                    .item-main-info-checkout-info-price-discount 105 550 ₽
                    .item-main-info-checkout-info-price-current 79 500 ₽
                .item-main-info-checkout-info-saving Экономия — 27 050 ₽
    .item-cart-popup-button
        button.item-main-info-checkout-button.item-main-info-checkout-button-gotocart В корзину
        button.item-main-info-checkout-button  Перейти в корзину
    != partial("./customerchoice", {sliderId: "itpSlider",buttonPrev: "itpSliderPrev",buttonNext: "itpSliderNext",text: "К товару может пригодится"})

