.letters-slider
    .letters-slider-r1
        .letters-slider-r1-text
            p.letters-slider-r1-text-h Авторизационные письма
            p.letters-slider-r1-text-p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores aut autem corporis dolor ducimus eius id laudantium maiores nemo odio, officiis placeat possimus quisquam similique soluta tenetur vero voluptas!
        .letters-slider-r1-button
            .letters-slider-r1-button-btn#lettersSliderPrev
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .letters-slider-r1-button-btn#lettersSliderNext
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10.0002L2 18.0002', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10.0002L2.00016 2.00028', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
    .letters-slider-sl#lettersSlider(data-flickity='{ "groupCells": false , "wrapAround": false , "pageDots" : false , "prevNextButtons" : false, "imagesLoaded": true, "cellAlign": "left" }')
        .letters-slider-sl-element
            img.letters-slider-sl-element-img(src="./img/img51.png")
            p.letters-slider-sl-element-text Письмо от Weinmann
        .letters-slider-sl-element
            img.letters-slider-sl-element-img(src="./img/img51.png")
            p.letters-slider-sl-element-text Письмо от Weinmann
        .letters-slider-sl-element
            img.letters-slider-sl-element-img(src="./img/img51.png")
            p.letters-slider-sl-element-text Письмо от Weinmann
        .letters-slider-sl-element
            img.letters-slider-sl-element-img(src="./img/img51.png")
            p.letters-slider-sl-element-text Письмо от Weinmann
        .letters-slider-sl-element
            img.letters-slider-sl-element-img(src="./img/img51.png")
            p.letters-slider-sl-element-text Письмо от Weinmann
        .letters-slider-sl-element
            img.letters-slider-sl-element-img(src="./img/img51.png")
            p.letters-slider-sl-element-text Письмо от Weinmann
        .letters-slider-sl-element
            img.letters-slider-sl-element-img(src="./img/img51.png")
            p.letters-slider-sl-element-text Письмо от Weinmann