#navbar.navbar
    .navbar__r1
        a.navbar__r1-link(href='#') Сервис
        a.navbar__r1-link(href='#') Trade-in
        a.navbar__r1-link(href='#') Оплата и доставка
        a.navbar__r1-link(href='#') Партнерам
        a.navbar__r1-link(href='#') О компании
        a.navbar__r1-link(href='#') Контакты
    .navbar__r2
        .navbar__r2__logo
            img.navbar__r2__logo-img(src='./img/logo.svg', alt='')
        .navbar__r2__scrollup
            a(href='#')
                img(src='./img/menu-ico.svg', alt='')
        .navbar__r2__phone
            a.navbar__r2__phone-link(href='#') 8 495 543-57-468
            img.navbar__r2__phone-ico(src='./img/phone-ico.svg', alt='')
            svg#mobileMenuPhoneButton.navbar__r2__phone-ico-mobile(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M7 11.9662C7 11.0394 7.29836 9.94177 7.96968 8.91735C8.31777 8.38075 8.76531 7.89293 9.28745 7.50267C9.56095 7.30754 9.78472 7.06363 10.0334 6.86851C10.3317 6.6246 10.6549 6.47825 11.0528 6.50264C11.3511 6.52703 11.5998 6.64899 11.8235 6.84412C12.1219 7.08803 12.3954 7.38072 12.5943 7.6978C13.017 8.33197 13.4645 8.96613 13.8126 9.64908C13.9618 9.96616 14.0861 10.2832 14.1358 10.6491C14.2353 11.3077 14.0115 11.8443 13.5143 12.3077C13.2656 12.5272 13.0418 12.7223 12.7932 12.9419C12.644 13.0638 12.4949 13.1614 12.3457 13.259C11.9976 13.5029 11.7489 13.8199 11.6992 14.259C11.6744 14.5273 11.6992 14.82 11.7738 15.0883C11.923 15.6005 12.1965 16.0883 12.4949 16.5273C13.017 17.2835 13.6137 17.9908 14.2353 18.6494C14.7326 19.1616 15.2547 19.6738 15.8514 20.064C16.1995 20.308 16.5725 20.5031 16.9952 20.5763C17.4924 20.6738 17.94 20.5763 18.3129 20.2348C18.3875 20.186 18.4372 20.1128 18.5118 20.0397C18.8351 19.6738 19.2329 19.3567 19.6058 19.064C20.2274 18.5762 20.8987 18.5274 21.5949 18.8201C22.0673 19.0152 22.49 19.3079 22.863 19.625C23.3354 20.0153 23.8078 20.4299 24.2553 20.8446C24.4791 21.0397 24.6531 21.2592 24.7775 21.5031C25.1255 22.1129 25.0758 22.6495 24.5537 23.1373C24.131 23.552 23.6835 23.9422 23.2111 24.3081C22.4154 24.9179 21.5203 25.2837 20.5258 25.4301C19.3323 25.6008 18.1886 25.4545 17.0697 25.0398C15.9758 24.6496 14.9812 24.0642 14.0364 23.3568C12.8429 22.4544 11.7738 21.4055 10.7793 20.2836C10.1328 19.5518 9.51122 18.7713 8.96422 17.942C8.31777 16.9664 7.77077 15.9664 7.39782 14.8688C7.17405 14.0151 7 13.137 7 11.9662Z', fill='black')
        .navbar__r2__buttons
            a.navbar__r2__buttons-search(href='#')
                img(src='./img/search-ico.svg', alt='')
            a.navbar__r2__buttons-compare(href='#')#compareNavbarButton
                img(src='./img/compare-ico.svg', alt='')
            .navbar__r2__buttons__cart
                a.navbar__r2__buttons__cart-ico(href='#')
                    img(src='./img/cart-ico.svg', alt='')
                span.navbar__r2__buttons__cart-price 158 250 ₽
    .navbar__r3
        a.navbar__r3-link.navbar__r3-menu(href='#')
            img(src='./img/menu-ico.svg', alt='')
        a.navbar__r3-link.navbar__r3-link-active(href='#') Кислородная терапия
        a.navbar__r3-link(href='#') СРАР/ВРАР
        a.navbar__r3-link(href='#') Вентиляция легких
        a.navbar__r3-link(href='#') Откашливатели
        a.navbar__r3-link(href='#') Аспираторы
        a.navbar__r3-link(href='#') Удаление мокроты
        a.navbar__r3-link(href='#') Насосы