.navbar-menu-wrapper#navbar-menu
    .navbar-menu
        .navbar-menu-c1
            a.navbar-menu-c1-link(href="#")#nmcl0 Кислородная терапия
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.7148 12L9.73194 18', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.7148 12L9.73205 6.00002', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

            a.navbar-menu-c1-link(href="#")#nmcl1 CPAP/BPAP
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.7148 12L9.73194 18', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.7148 12L9.73205 6.00002', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

            a.navbar-menu-c1-link(href="#")#nmcl2 Вентиляция легких
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.7148 12L9.73194 18', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.7148 12L9.73205 6.00002', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

            a.navbar-menu-c1-link(href="#")#nmcl3 Откашливатели
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.7148 12L9.73194 18', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.7148 12L9.73205 6.00002', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

            a.navbar-menu-c1-link(href="#")#nmcl4 Аспираторы
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.7148 12L9.73194 18', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.7148 12L9.73205 6.00002', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

            a.navbar-menu-c1-link(href="#")#nmcl5 Инфузоматы и перкуторы
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.7148 12L9.73194 18', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.7148 12L9.73205 6.00002', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            a.navbar-menu-c1-link(href="#")#nmcl5 Насосы
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.7148 12L9.73194 18', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.7148 12L9.73205 6.00002', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')


        .navbar-menu-c2
            .navbar-menu-c2-slide 1
            .navbar-menu-c2-slide 2
            .navbar-menu-c2-slide 3
            .navbar-menu-c2-slide 4
            .navbar-menu-c2-slide 5
            .navbar-menu-c2-slide 6
            .navbar-menu-c2-slide 7