.footer
    .footer-r0
        a.footer-r0-link(href="#") Бизнесу
        a.footer-r0-link(href="#") Фондам
        a.footer-r0-link(href="#") ЛПУ
    .footer-r1
        .footer-r1-c
            a.footer-r1-c-link(href="#") Кислородная терапия
            a.footer-r1-c-link(href="#") Терапия ночного апноэ
            a.footer-r1-c-link(href="#") Вентиляция легких
            a.footer-r1-c-link(href="#") Откашливатели
        .footer-r1-c
            a.footer-r1-c-link(href="#") Оплата и доставка
            a.footer-r1-c-link(href="#") Рассрочка
            a.footer-r1-c-link(href="#") Trade-in
            a.footer-r1-c-link(href="#") Аренда
        .footer-r1-c
            a.footer-r1-c-link(href="#") Как стать партнером
            a.footer-r1-c-link(href="#") Запросить прайс-лист
            a.footer-r1-c-link(href="#") Прайс-листы
            a.footer-r1-c-link(href="#") Рекламные материалы
        .footer-r1-c
            a.footer-r1-c-link(href="#") О компании
            a.footer-r1-c-link(href="#") Производители
            a.footer-r1-c-link(href="#") Авторизационные письма

    .footer-r3
        .footer-r3-c © 2014-2020 ООО «Медика Трейд»
        .footer-r3-c
            p.footer-r2-phone Есть вопросы? Звоните!
                span.footer-r2-bold  8 (495) 543-57-46, по будням, с 10.00 до 18.00
                a.footer-r2-phone-sp(href="#") Или пишите!
                    svg(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.611315 15.7057C0.611315 18.7432 1.45775 21.5688 2.96253 23.9706C2.75092 25.7601 0 32 0 32C0 32 5.94857 30.0692 8.55841 29.3628C10.8391 30.6578 13.496 31.4113 16.3174 31.4113C24.9699 31.4113 32 24.3709 32 15.7057C32 7.04047 24.9699 0 16.3174 0C7.66495 0 0.611315 7.04047 0.611315 15.7057Z', fill='#27B64A')
                        path(d='M7.71289 11.821C7.71289 10.9262 7.99504 9.86658 8.62986 8.87762C8.95903 8.35959 9.38225 7.88866 9.87601 7.51191C10.1346 7.32354 10.3462 7.08807 10.5814 6.8997C10.8635 6.66423 11.1692 6.52295 11.5454 6.54649C11.8275 6.57004 12.0626 6.68778 12.2742 6.87615C12.5564 7.11162 12.815 7.39418 13.0031 7.70028C13.4028 8.3125 13.826 8.92471 14.1552 9.58402C14.2963 9.89013 14.4138 10.1962 14.4609 10.5494C14.5549 11.1852 14.3433 11.7032 13.8731 12.1506C13.6379 12.3625 13.4263 12.5509 13.1912 12.7628C13.0501 12.8806 12.9091 12.9748 12.768 13.0689C12.4388 13.3044 12.2037 13.6105 12.1567 14.0344C12.1332 14.2934 12.1567 14.5759 12.2272 14.8349C12.3683 15.3294 12.6269 15.8004 12.9091 16.2242C13.4028 16.9541 13.9671 17.637 14.5549 18.2728C15.0252 18.7672 15.5189 19.2617 16.0832 19.6385C16.4124 19.8739 16.7651 20.0623 17.1648 20.133C17.635 20.2271 18.0582 20.133 18.4109 19.8033C18.4814 19.7562 18.5285 19.6856 18.599 19.6149C18.9047 19.2617 19.2809 18.9556 19.6335 18.6731C20.2213 18.2021 20.8562 18.155 21.5145 18.4376C21.9612 18.626 22.3609 18.9085 22.7136 19.2146C23.1604 19.5914 23.6071 19.9917 24.0303 20.392C24.2419 20.5803 24.4065 20.7923 24.5241 21.0277C24.8532 21.6164 24.8062 22.1344 24.3124 22.6054C23.9127 23.0057 23.4895 23.3824 23.0428 23.7356C22.2904 24.3243 21.444 24.6775 20.5035 24.8188C19.3749 24.9836 18.2933 24.8423 17.2353 24.442C16.2008 24.0653 15.2603 23.5001 14.3668 22.8173C13.2382 21.9461 12.2272 20.9335 11.2867 19.8504C10.6754 19.144 10.0876 18.3905 9.57035 17.5899C8.95903 16.648 8.44177 15.6826 8.08909 14.623C7.87748 13.7989 7.71289 12.9512 7.71289 11.821Z', fill='white')
                        defs
                            lineargradient#paint0_linear(x1='16', y1='0', x2='16', y2='32', gradientUnits='userSpaceOnUse')
                                stop(stop-color='#11BC3C')
                                stop(offset='1', stop-color='#27B64A')

