.pallio-main-cards
    .pallio-main-cards-element
        .pallio-main-cards-element-h Бизнесу
            a.pallio-main-cards-element-arrow(href="#")
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10L2 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10L2.00015 2.00003', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')


        ul.pallio-main-cards-element-list
            li.pallio-main-cards-element-list-li Авторизация проектов
            li.pallio-main-cards-element-list-li Помощь в подготовке ТЗ
            li.pallio-main-cards-element-list-li Подготовка техники под проект
            li.pallio-main-cards-element-list-li Монтаж и ввод в эксплуатацию
            li.pallio-main-cards-element-list-li Рассрочка платежа
        a.pallio-main-cards-element-buttons(href="#") Подробнее
    .pallio-main-cards-element
        .pallio-main-cards-element-h Бизнесу
            a.pallio-main-cards-element-arrow(href="#")
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10L2 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10L2.00015 2.00003', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')

        ul.pallio-main-cards-element-list
            li.pallio-main-cards-element-list-li Авторизация проектов
            li.pallio-main-cards-element-list-li Помощь в подготовке ТЗ
            li.pallio-main-cards-element-list-li Подготовка техники под проект
            li.pallio-main-cards-element-list-li Монтаж и ввод в эксплуатацию
            li.pallio-main-cards-element-list-li Рассрочка платежа
        a.pallio-main-cards-element-buttons(href="#") Подробнее
    .pallio-main-cards-element
        .pallio-main-cards-element-h Бизнесу
            a.pallio-main-cards-element-arrow(href="#")
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10L2 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10L2.00015 2.00003', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')


        ul.pallio-main-cards-element-list
            li.pallio-main-cards-element-list-li Авторизация проектов
            li.pallio-main-cards-element-list-li Помощь в подготовке ТЗ
            li.pallio-main-cards-element-list-li Подготовка техники под проект
            li.pallio-main-cards-element-list-li Монтаж и ввод в эксплуатацию
            li.pallio-main-cards-element-list-li Рассрочка платежа
        a.pallio-main-cards-element-buttons(href="#") Подробнее