.pallio-header
    .pallio-header-text
        .pallio-header-text-h Комплексное оснащение по программе развития паллиаотивной помощи
        .pallio-header-text-p Прямая поставка от производителей с оформлением государственной таможенной декларации
        a.pallio-header-text-button(href="#") Получить предложение
    img.pallio-header-img(src="./../img/pallio-header.svg")
