.item-fixed#itemFixed
    .item-fixed-c1
        img.item-fixed-c1-img(src="./../img/img256.png")
        .item-fixed-c1-title Кислородный концентратор Philips SimplyGo
    .item-fixed-c2
        | от 79 500 ₽
    a.item-fixed-c3(href="#") Получить предложение

.item
    .item-main
        .item-main-preview
            .item-main-preview-main(data-flickity='{ "contain": true, "pageDots": false , "prevNextButtons": false }')
                a.item-main-preview-main-el(href="./img/img501.png")
                    img(src="./img/img101.png")
                a.item-main-preview-main-el(href="./img/img501.png")
                    img(src="./img/img101.png")
                a.item-main-preview-main-el(href="./img/img501.png")
                    img(src="./img/img101.png")
                a.item-main-preview-main-el(href="./img/img501.png")
                    img(src="./img/img101.png")
                a.item-main-preview-main-el(href="./img/img501.png")
                    img(src="./img/img101.png")
                a.item-main-preview-main-el(href="./img/img501.png")
                    img(src="./img/img101.png")

            .item-main-preview-nav
                .item-main-preview-nav-arrow#itemSliderPrev
                    svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                .item-main-preview-nav-container#itemSlider(data-flickity='{ "asNavFor": ".item-main-preview-main", "contain": false, "pageDots": false, "prevNextButtons": false , "cellAlign": "left"}')
                    .item-main-preview-nav-container-el
                        img(src="./img/img101.png")
                    .item-main-preview-nav-container-el
                        img(src="./img/img101.png")

                    .item-main-preview-nav-container-el
                        img(src="./img/img101.png")

                    .item-main-preview-nav-container-el
                        img(src="./img/img101.png")

                    .item-main-preview-nav-container-el
                        img(src="./img/img101.png")

                    .item-main-preview-nav-container-el
                        img(src="./img/img101.png")


                .item-main-preview-nav-arrow#itemSliderNext(style="transform: rotate(180deg)")
                    svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                a.item-main-preview-nav-play#itemSliderPlay(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
                    svg(width='20', height='21', viewBox='0 0 20 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.980469 3.88786C0.980469 1.20458 3.87569 -0.480697 6.20894 0.844439L18.1934 7.65085C20.5625 8.99634 20.5536 12.4134 18.1776 13.7466L6.19312 20.471C3.86005 21.7801 0.980469 20.0939 0.980469 17.4187V3.88786Z', fill='#4FBBEB')

        .item-main-info
            .item-main-info-name Кислородный концентратор Philips SimplyGo
            .item-main-info-rating
                .item-main-info-rating-c
                    .item-main-info-rating-c-stars
                        svg(width='18', height='17', viewBox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg').item-main-info-rating-c-stars-full
                            path(d='M8.97436 0L11.5064 5.48936L17.5095 6.20113L13.0712 10.3055L14.2494 16.2348L8.97436 13.2821L3.69936 16.2348L4.8775 10.3055L0.439237 6.20113L6.44236 5.48936L8.97436 0Z', fill='#4FBBEB')
                        svg(width='18', height='17', viewBox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg').item-main-info-rating-c-stars-full
                            path(d='M8.97436 0L11.5064 5.48936L17.5095 6.20113L13.0712 10.3055L14.2494 16.2348L8.97436 13.2821L3.69936 16.2348L4.8775 10.3055L0.439237 6.20113L6.44236 5.48936L8.97436 0Z', fill='#4FBBEB')
                        svg(width='18', height='17', viewBox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg').item-main-info-rating-c-stars-full
                            path(d='M8.97436 0L11.5064 5.48936L17.5095 6.20113L13.0712 10.3055L14.2494 16.2348L8.97436 13.2821L3.69936 16.2348L4.8775 10.3055L0.439237 6.20113L6.44236 5.48936L8.97436 0Z', fill='#4FBBEB')
                        svg(width='18', height='17', viewBox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg').item-main-info-rating-c-stars-full
                            path(d='M8.97436 0L11.5064 5.48936L17.5095 6.20113L13.0712 10.3055L14.2494 16.2348L8.97436 13.2821L3.69936 16.2348L4.8775 10.3055L0.439237 6.20113L6.44236 5.48936L8.97436 0Z', fill='#4FBBEB')
                        svg(width='18', height='17', viewBox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M9.02514 0L11.5571 5.48936L17.5603 6.20113L13.122 10.3055L14.3001 16.2348L9.02514 13.2821L3.75014 16.2348L4.92828 10.3055L0.490018 6.20113L6.49314 5.48936L9.02514 0Z', fill='#D9D9D9')

                    .item-main-info-rating-c-stars-count 64
                    .item-main-info-rating-c-stars-comment
                        svg(width='13', height='14', viewBox='0 0 13 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M5 0.974609C2.23858 0.974609 0 3.21319 0 5.97461C0 8.02493 1.2341 9.78701 3 10.5586V13.9746L6.75 10.9746H8C10.7614 10.9746 13 8.73603 13 5.97461C13 3.21319 10.7614 0.974609 8 0.974609H5Z', fill='#D9D9D9')

                    .item-main-info-rating-c-stars-comment-count 13
                .item-main-info-rating-c
                    .item-main-info-rating-c-stars-code Арт. 5321257

            .item-main-info-specs
                p.item-main-info-specs-p 0,5–5 литров в минуту
                p.item-main-info-specs-p Ресурс работы 40 000 часов
                p.item-main-info-specs-p Работает 24 часа в сутки
                a.item-main-info-specs-showmore(href="#") еще характеристики

            .item-main-info-checkout
                .item-main-info-checkout-info
                    .item-main-info-checkout-info-price

                        .item-main-info-checkout-info-price-current от 79 500 ₽

                button#getofferTriggerr.item-main-info-checkout-button  В корзину
            .article-block
                    .article-block-text Нам доверяют наши поставщики.
                        |Мы — официальный дистрибьютор Philips в России,
                        |это означает качество, гарантийное обслуживание и цены без накруток.
                        a.article-block-a(href="#") Посмотрите подтверждение
