.pcategory
    .pcategory-r
        p.pcategory-text Популярные категории
        .pcategory__buttons
            #slider-prev.pcategory__buttons-btn
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            #slider-next.pcategory__buttons-btn
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10.0002L2 18.0002', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10.0002L2.00016 2.00028', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
    .pcategory__slider#slider(data-flickity='{ "groupCells": true , "wrapAround": false , "pageDots" : false , "prevNextButtons" : false }')
        .pcategory__slider-element(style="background: #D2EEF8; background-image: url('./img/img3.png')")
            p.pcategory__slider-element-text
                Кислородные концентраторы
            p.pcategory__slider-element-subtext
                Кислородная терапия
        .pcategory__slider-element(style="background: #D0DBFB; background-image: url('./img/img4.png')")
            p.pcategory__slider-element-text
                СРАР/BPAP аппараты
            p.pcategory__slider-element-subtext
                Спокойный сон
        .pcategory__slider-element(style="background: #DBF1D7; background-image: url('./img/img2.png')")
            p.pcategory__slider-element-text
                Портативные концентраторы
            p.pcategory__slider-element-subtext
                Кислородная терапия
        .pcategory__slider-element(style="background: #D2EEF8; background-image: url('./img/img3.png')")
            p.pcategory__slider-element-text
                Кислородные концентраторы
            p.pcategory__slider-element-subtext
                Кислородная терапия
        .pcategory__slider-element(style="background: #D0DBFB; background-image: url('./img/img4.png')")
            p.pcategory__slider-element-text
                СРАР/BPAP аппараты
            p.pcategory__slider-element-subtext
                Спокойный сон
        .pcategory__slider-element(style="background: #DBF1D7; background-image: url('./img/img2.png')")
            p.pcategory__slider-element-text
                Портативные концентраторы
            p.pcategory__slider-element-subtext
                Кислородная терапия