#phonePopup.hidden__phone-popup
    p.hidden__phone-popup-text Звоните
    a.hidden__phone-popup-phonelink(href='#') 8 495 543-57-468
    p.hidden__phone-popup-text Или пишите
    img.hidden__phone-popup-ico(src='./img/phone-ico.svg', alt='')
#phonePopupBlackout.hidden_phone-popup-blackout