.project-slider
    .customerchoice__r1
        p.customerchoice__r1-text Реализованные проекты
        .customerchoice__r1__buttons
            .customerchoice__r1__button-btn(id = "projectSliderPrev")
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .customerchoice__r1__button-btn(id = "projectSliderNext")
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10.0002L2 18.0002', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10.0002L2.00016 2.00028', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
    .project-slider-flickity( id = "projectSlider" , data-flickity='{ "groupCells": false , "wrapAround": false , "pageDots" : false , "prevNextButtons" : false , "cellAlign": "left" }')
        != partial("project-card", { style: "background: linear-gradient(0deg, rgba(136, 213, 232, 0.5), rgba(136, 213, 232, 0.5)), #FFFFFF;"})
        != partial("project-card", {style: "background: linear-gradient(0deg, rgba(185, 177, 190, 0.5), rgba(185, 177, 190, 0.5)), #FFFFFF;"})
        != partial("project-card", {style: "background: linear-gradient(0deg, rgba(201, 202, 188, 0.5), rgba(201, 202, 188, 0.5)), #FFFFFF;"})
        != partial("project-card", {style: "background: linear-gradient(0deg, rgba(136, 213, 232, 0.5), rgba(136, 213, 232, 0.5)), #FFFFFF;"})
        != partial("project-card", {style: "background: linear-gradient(0deg, rgba(185, 177, 190, 0.5), rgba(185, 177, 190, 0.5)), #FFFFFF;"})
        != partial("project-card", {style: "background: linear-gradient(0deg, rgba(201, 202, 188, 0.5), rgba(201, 202, 188, 0.5)), #FFFFFF;"})
        != partial("project-card", {style: "background: linear-gradient(0deg, rgba(136, 213, 232, 0.5), rgba(136, 213, 232, 0.5)), #FFFFFF;"})
        != partial("project-card", {style: "background: linear-gradient(0deg, rgba(185, 177, 190, 0.5), rgba(185, 177, 190, 0.5)), #FFFFFF;"})
        != partial("project-card", {style: "background: linear-gradient(0deg, rgba(201, 202, 188, 0.5), rgba(201, 202, 188, 0.5)), #FFFFFF;"})
    != partial("./supersection-seeall")