.project-card
    img.project-card-image(src="./../img/img902.png")
    .project-card-info(style != style)
        .project-card-info-title Городская детская клиническая больница скорой медицинской помощи
        .project-card-info-other
            .project-card-info-other-info
                .project-card-info-other-info-text Плошадь 39284 кв м
                .project-card-info-other-info-text Бюджет 32984723 руб
            a.project-card-info-other-more(href="#") Подробнее
