.reviews
    .reviews-r1
        p.reviews-text  2 000+ положительных отзывов о наших товарах
        .reviews-buttons
            .reviews-buttons-el
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .reviews-buttons-el
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10L2 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10L2.00016 2.00003', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')

    .reviews__slider#reviewsSlider(data-flickity='{ "groupCells": true , "wrapAround": false , "pageDots" : false , "prevNextButtons" : false, "setGallerySize": true }')
        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsequi tenetur ut. Accusantium ad commodi eque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020
        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorum earum minus? Alias deleniti dolor, dolorem eum excepturi illum minus molestiae natus necessitatibus nemo non nostrum possimus repudiandae tempora voluptatum! Lorem ipsum dolor sit amet,
            .reviews__slider-element-date 26 Мар 2020

        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic, nobis pariatur quia sequi tenetur ut. Accusantium ad commodi dignissimos eaque et nam nemo neque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020

        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic, nobis pariatur quia sequi tenetur ut. Accusantium ad commodi dignissimos eaque et nam nemo neque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020

        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic, nobis pariatur quia sequi tenetur ut. Accusantium ad commodi dignissimos eaque et nam nemo neque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020







        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic, nobis pariatur quia sequi tenetur ut. Accusantium ad commodi dignissimos eaque et nam nemo neque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020
        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic, nobis pariatur quia sequi tenetur ut. Accusantium ad commodi dignissimos eaque et nam nemo neque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020

        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic, nobis pariatur quia sequi tenetur ut. Accusantium ad commodi dignissimos eaque et nam nemo neque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020

        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic, nobis pariatur quia sequi tenetur ut. Accusantium ad commodi dignissimos eaque et nam nemo neque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020

        .reviews__slider-element
            .reviews__slider-element__info
                img.reviews__slider-element__info-img(src="./img/img11.png")
                p.reviews__slider-element__info-text Weinmann Prisma 25ST Plus
            p.reviews__slider-element-name Евгений Давидович
            .reviews__slider-element-rating
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.141 0L13.0022 6.11661L19.7857 6.90971L14.7705 11.4831L16.1018 18.0899L10.141 14.7997L4.18028 18.0899L5.51158 11.4831L0.496337 6.90971L7.27987 6.11661L10.141 0Z', fill='#4FBBEB')
                span.reviews__slider-element-rating-star
                    svg(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.85978 0L12.7209 6.11661L19.5045 6.90971L14.4892 11.4831L15.8205 18.0899L9.85978 14.7997L3.89903 18.0899L5.23033 11.4831L0.215087 6.90971L6.99862 6.11661L9.85978 0Z', fill='#D9D9D9')

            .reviews__slider-element-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic, nobis pariatur quia sequi tenetur ut. Accusantium ad commodi dignissimos eaque et nam nemo neque, nostrum, odit, optio vitae voluptates.
            .reviews__slider-element-date 26 Мар 2020






