.needtoknow
    .needtoknow-r1
        p.needtoknow-r1-text Что еще нужно знать
        .needtoknow-r1-buttons
            .needtoknow-r1-buttons-btn
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .needtoknow-r1-buttons-btn
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10.0002L2 18.0002', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10.0002L2.00016 2.00028', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
    .needtoknow-slider#needtoknowSlider(data-flickity='{ "groupCells": true , "wrapAround": false , "pageDots" : false , "prevNextButtons" : false, "setGallerySize": true }')
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        .needtoknow-slider-elemet
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования