.needtoknow
    .needtoknow-r1
        p.needtoknow-r1-text Что еще нужно знать
        .needtoknow-r1-buttons
            .needtoknow-r1-buttons-btn#needtoknowSliderPrev
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M2 10L10 2', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M2 10L9.99985 18', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            .needtoknow-r1-buttons-btn#needtoknowSliderNext
                svg(width='12', height='20', viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10 10.0002L2 18.0002', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10 10.0002L2.00016 2.00028', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
    .needtoknow-slider#needtoknowSlider(data-flickity='{ "groupCells": false , "wrapAround": false , "pageDots" : false , "prevNextButtons" : false, "setGallerySize": true ,"cellAlign": "left" }')
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования
        a.needtoknow-slider-element.video-popup(href="https://www.youtube.com/watch?v=L7OLY4HCctQ")
            .needtoknow-slider-element-photo
                img.needtoknow-slider-element-photo-el(src="./img/img22.png")
                .needtoknow-slider-element-photo-button
                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='40', cy='40', r='40', fill='white')
                        path(d='M30.834 31.8718C30.834 28.8052 34.1428 26.8792 36.8094 28.3936L50.5059 36.1724C53.2134 37.7101 53.2033 41.6153 50.4878 43.139L36.7913 50.824C34.1249 52.3201 30.834 50.3931 30.834 47.3356V31.8718Z', fill='#0094D9')

            p.needtoknow-slider-element-type статьи
            p.needtoknow-slider-element-text Рекомендации по выбору кислородного оборудования