.checkout-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 24px 115px 250px 115px
  align-items: end
  background: rgb(249,252,254)

.checkout-wrapper >  .cart-total
  margin-top: 145px
.checkout-back
  font-size: 14px
  line-height: 150%
  color: #828282
  display: flex
  align-items: center
  text-decoration: none
.checkout-back > svg
  margin-right: 7px
  margin-bottom: 2px

.checkout-stage-container-hidden.checkout-hidden-active
  width: calc(100% - 84px) !important

.checkout-h
  margin-top: 27px
  font-weight: bold
  font-size: 36px
  line-height: 100%
  margin-bottom: 56px

.checkout-stage-h
  font-weight: bold
  font-size: 24px
  line-height: 110%

.checkout-stage-fraction
  color: #828282
  margin-right: 7px

.checkout-stage-p
  font-size: 18px
  line-height: 130%
  margin-top: 2px
  color: #929497

.checkout-stage-container
  margin-top: 15px
  background: #FFFFFF
  border: 1px solid #D9DADB
  border-radius: 4px
  margin-bottom: 48px

.checkout
  width: 58.1%

.checkout-stage-button-active
  background: #4FBBEB !important



.checkout-stage-container-inputs
  display: flex
  flex-direction: column

.checkout-stage-container-main
  padding: 32px 42px

.checkout-stage-container-inputs-c-input
  padding-top: 4px
  height: 50px
  background: #FAFAFA
  border: 1px solid #D9DADB
  border-radius: 4px
  width: 100%
  outline: none
  padding-left: 5%


.checkout-stage-container-inputs-c-input::placeholder
  font-size: 18px
  line-height: 130%

.checkout-ainput-container
  position: relative
  background: #FAFAFA
  border: 1px solid #D9DADB
  box-sizing: border-box
  border-radius: 4px
  margin-top: 24px
  width: 100% !important
  height: 56px

.checkout-ainput-el
  width: 100%
  height: 39px
  padding-left: 16px
  padding-top: 15px
  outline: none
  width: calc(100% - 30px)
  background: #FAFAFA


.checkout-stage-container-inputs-c-einput
  height: 54px
  width: 100%
  background: #FAFAFA
  border: 1px solid #D9DADB
  border-radius: 4px
  display: flex
  flex-direction: column
  margin-top: 24px
  padding-left: 5%
.checkout-stage-container-inputs-c-einput-el
  margin-top: 2px
  outline: none
  height: 19px
  background: #FAFAFA
.checkout-stage-container-inputs-c-einput-p
  margin-top: 5px
  font-size: 12px
  line-height: 150%
  color: #86888B

.checkout-stage-container-inputs-c-einput-el[type="phone"] , .checkout-stage-container-inputs-c-einput-el[type="mail"] , .checkout-stage-container-inputs-c-input, input.checkout-ainput-el
  font-size: 18px
  line-height: 130%
  color: black !important


.checkout-ainput-el
  &:focus ~ .checkout-ainput-label, &:not(:focus):valid ~  .checkout-ainput-label
    top: 3px
    font-size: 12px
    line-height: 150%
    color: #929497



.checkout-ainput-label
  position: absolute
  pointer-events: none
  left: 15px
  top: 16px
  line-height: 40px
  transition: .3s
  font-size: 18px
  line-height: 130%
  color: #86888B


#checkoutPhone
  font-size: 18px
  line-height: 130%
  color: #86888B


.checkout-stage-container-inputs-p
  margin-top: 8px
  font-size: 14px
  line-height: 150%
  color: #828282

.checkout-stage-button
  width: 65%
  height: 48px
  display: flex
  justify-content: center
  align-items: center
  font-weight: bold
  color: white
  margin-top: 18px
  font-size: 16px
  line-height: 24px
  background: #D9DADB
  outline: none

.checkout-stage-checkbox
  display: flex
  flex-direction: row
  align-items: center
  margin-top: 24px
  align-items: center

.checkout-stage-checkbox-el
  width: 24px !important
  height: 24px !important
  border: 2px solid #DEDFE0
  box-sizing: border-box
  border-radius: 4px
  appearance: none
  outline: none
  cursor: pointer

.checkout-stage-checkbox-el:checked
  background: url("./../img/checkbox.svg")
  background-position: center center
  background-repeat: no-repeat


.checkout-stage-checkbox-p
  font-size: 14px
  margin-left: 13px
  line-height: 150%
  margin-top: 3px

.checkout-stage-container-inputs-r > div
  width: 48%

.checkout-stage-container-inputs-r > div > input
  width: 95%

.checkout-stage-container-inputs-r > div > div
  width: 95%

.checkout-stage-container-inputs-r
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%

.checkout-stage-container.checkout-hidden
  display: none

.checkout-stage-container-hidden
  display: none

.checkout-stage-container-hidden.checkout-hidden-active
  display: flex !important
  flex-direction: row
  background: #FFFFFF
  height: 45px
  width: 85%
  border: 1px solid #D9DADB
  border-radius: 4px
  padding: 24px 42px
  justify-content: space-between
  margin-top: 15px
  margin-bottom: 48px

#checkoutPhone
  font-size: 18px
  line-height: 130%
  color: black
.checkout-stage-container-hidden-c1-customer > span:first-child
  color: #929497
  margin-right: 5px

.checkout-stage-container-hidden-c1
  width: 70%

.checkout-stage-container-hidden-c2-edit
  color: #0094D9
  font-size: 16px
  line-height: 150%
  text-decoration: none

.checkokut-stage-container
  display: flex
  flex-direction: column
  align-items: baseline
  background: #FFFFFF
  border: 1px solid #D9DADB
  border-radius: 4px
  padding: 24px 42px
  width: calc(100%-84px) !important
.checkout-stage-containerii-hidden
  display: flex
  flex-direction: row
  align-items: end
  width: 100%
  position: relative

.checkout-stage-container-hidden-ico
  margin-right: 22px
  display: flex
  margin-top: 5px
  align-items: center

.checkout-stage-container-info.checkout-stage-container-info-hidden
  display: none

.checkout-stage-container-hidden-text-h
  margin-bottom: 4px
  font-weight: bold
  font-size: 20px
  line-height: 130%

.checkout-stage-container-hidden-text-p
  font-size: 18px
  line-height: 130%

.checkout-stage-container-hidden-text-p > span :first-child
  color: #929497
  margin-right: 5px

.checkout-stage-container-hidden-text-p > span :last-child
  color: black

.checkout-stage-container-ii-info
  display: flex
  flex-direction: row
  margin-top: 28px
  justify-content: space-between

#checkoutTruckico
  margin-top: 15px

.checkout-stage-container-ii-info-text
  display: flex
  flex-direction: column
  width: 60%
  flex-grow: 6
.checkout-stage-container-ii-info-text-p
  margin-top: 10px
  font-size: 18px
  line-height: 130%

.checkout-stage-container-ii-info-map
  flex-grow: 4
  display: flex
  justify-content: flex-end

.checkout-stage-container-ii-info-text-p:first-child
  margin-top: 0


.checkout-stage-container-ii-info-text-p > span:first-child
  color: #929497
  margin-right: 5px

.checkout-stage-container-ii-info-map-el
  width: 188px
  height: 188px
  position: relative

.checkout-stage-container-ii-info-map-el-close
  width: 32px
  height: 32px
  background: white
  position: absolute
  top: 7px
  right: 7px

.checkout-stage-container-ii-info-button
  width: 100%
  height: 48px
  background: #4FBBEB
  border-radius: 4px
  display: flex
  justify-content: center
  align-items: center
  font-weight: bold
  font-size: 16px
  line-height: 24px
  color: white
  margin-top: 80px

.checkokut-stage-container:first-child
  margin-top: 16px
.checkokut-stage-container
  margin-top: 8px

.checkout-stage-container-ii
  display: block
.checkout-stage2-hidden > .checkout-stage-container-ii
  display: none !important
.checkout-stage2-hidden >.checkout-stage-h, .checkout-stage2-hidden >  .checkout-stage-p
  color: #828282

.checkout-stage3-hidden > .cart-code
  display: none !important
.checkout-stage3-hidden >.checkout-stage-h, .checkout-stage3-hidden >  .checkout-stage-p
  color: #828282

.checkout-stage-info-hidden
  display: none

.checkokut-stage-container.checkout-stage-container-hidden > .checkout-stage-container-ii-info
   display: none !important

.checkokut-stage-container.checkout-stage-container-hidden > .checkout-stage-container-ii-info-i
  display: none

.checkout-stage-container-ii-info-i-r
  display: flex
  flex-direction: row
  justify-content: space-between

.checkout-stage-container-ii-info-i-r
  width: 100%

.checkout-stage-container-ii-info-i-r-inpt
  width: 100%

.checkout-stage-container-ii-info-i
  width: 100%

#checkoutDeliveryIndexInpt
  width: 22%

#checkoutDeliveryTownInpt
  width: 74%

#checkoutDeliveryStreetInpt
  width: 48%

#checkoutDeliveryHouseInpt
  width: 45%

#checkoutDeliveryApartInpt
  width: 45%

#checkoutDeliveryCommentInpt
  width: 100%

.cart-code
  background: white

.checkout-stage-container-ii-info-r-p
  margin-top: 39px
  font-weight: bold
  font-size: 16px
  line-height: 150%
  color: #272727
.checkout-stage-container-ii-info-i-ai
  flex-direction: row-reverse

.checkout-stage-container-ii-info-i-rad
  width: 49%
  display: flex
  flex-direction: row
  justify-content: space-between

.container-info-r
  font-size: 18px
  line-height: 130%

.container-info-hidden-keys
  margin-right: 5px
  color: #929497

.container-info-r
  margin-top: 4px

.checkout-stage-container-ii-edit
  position: absolute
  top: 0px
  right: 0px
  font-size: 16px
  line-height: 150%
  color: #0094D9
  cursor: pointer

#checkoutStageContainer2
  //margin-bottom: 40px

#checkoutStage3 > .cart-code
  margin-bottom: 20px

#checkoutFinal > p
  color: #828282
#checkoutFinal > p > span
  color: black
  text-decoration: underline
  margin: 0 5px

#checkoutFinal
  margin-bottom: 50px

.checkout-stage3-hidden > .checkout-stage-checkbox, .checkout-stage3-hidden > #checkoutButtonFinal
  display: none !important

#checkoutStage3 > .checkout-stage-h
  margin-top: 40px
@media (max-width: 1280px)
  .checkout-stage-container-main
    padding: 16px 16px!important
  .checkout-stage-container-inputs
    grid-column-gap: 8px
  .checkout-stage-container-inputs-c:first-child
    //margin-left: 8px
  .checkout-stage-container-inputs-c:last-child
    width: 95%
  .checkout-wrapper
    padding: 24px 50px 250px 50px
  .checkout-stage-checkbox-p
    width: 90%
  .checkokut-stage-container
    padding: 24px 24px

@media (max-width: 1024px)
  .checkout-stage-container-inputs-r
    flex-direction: column
  .checkout-stage-container-inputs-r > div
    width: 100%
  .checkout-stage-container-inputs-r > div > input:last-child
    margin-top: 12px
  .checkout
    width: 61%
  .checkout-wrapper
    padding: 24px 25px 250px 25px
  .checkout-stage-button
    width: 100%
  .checkout-stage-container-inputs-p
    margin-bottom: 5px

  .checkout-stage-container-inputs-c-einput
    margin-top: 12px

  .checkout-stage-checkbox
    align-items: normal

  .checkout-stage-container-ii-info-i-r
    flex-direction: column
  .checkout-stage-container-ii-info-i-r > div
    width: 100% !important
    margin: 0
  .checkout-stage-container-ii-info-i-r > div
    margin: 0

  .checkout-stage-container-ii-info-i-r > div > div
    margin-top: 12px
@media (max-width: 768px)
  .checkout-wrapper
    flex-direction: column
  .checkout
    width: 100%
  .checkout-wrapper
    padding: 16px 8px 8px 8px
  .checkout-stage-h
    font-size: 18px
  .checkout-h
    font-size: 24px
    margin-bottom: 32px
    margin-top: 14px
  .checkout-stage-p
    font-size: 16px
  .checkout-stage-container-inputs-p
    width: 105%
  .checkout-stage-container-hidden-c1-customer > span
    font-size: 18px
  .checkout-stage-container-hidden.checkout-hidden-active
    width: 90%
    padding: 24px 17px
    flex-direction: column
    height: 150px
  .checkout-stage-container-hidden-c2-edit
    margin-top: 16px
    margin-bottom: 24px
  .checkout-stage-container-ii-info
    flex-direction: column
    position: relative
  .checkout-stage-container-ii-info-text
    width: 100%
  .checkout-stage-container-ii-info-map
    margin-top: 32px
    height: 234px
    width: 100%
    justify-content: center
    margin-bottom: 75px
  .checkout-stage-container-ii-info-map-el
    height: 100%
    width: 100%
  .checkout-stage-container-ii-info-button
    position: absolute
    bottom: 0px
  .checkokut-stage-container
    position: relative
    padding: 24px 16px

  #checkoutStageContainer2.checkokut-stage-container.checkout-stage-container-hidden
    //min-height: 344px

  .checkout-wrapper >  .cart-total
    margin-top: 40px
  .checkout-h, .checkout-stage-h, .checkout-stage-p
    margin-left: 16px
  .checkout-stage-container-inputs-r > div > .checkout-ainput-container
    margin-top: 10px
  .checkout-stage-container-ii-info-r-p
    margin-top: 24px
    font-size: 18px

  #checkoutDeliveryHouseInpt, #checkoutDeliveryApartInpt
    width: 48% !important
  .checkout-stage-container-ii-info-i-rad > div > div
    margin: 0
  .checkout-stage-container-ii-edit
    top: unset
    bottom: 0 !important
    left: 60px !important
  .checkout-stage-containerii-hidden2
    padding-bottom: 40px

  #checkoutStageContainer2
    margin-bottom: 40px
  //.checkout-stage-container-info
  //  position: absolute
  //  top: 55px
  //  left: 10px