.map 
    height: 500px
    position: relative
    &__contacts
        position: absolute;
        width: 450px;
        height: 412px;
        left: 65px;
        top: 0px;
        background: #FFFFFF;
        padding: 24px 50px
        z-index: 1
        h1 
            font-size: 36px
            margin-bottom: 24px
        p  
            margin-bottom: 24px
            font-size: 18px;
            line-height: 1.6;
        a.tel   
            text-decoration: none
            color:#0094D9
            cursor: pointer
        .path 
            padding: 0
            width: 100%
            margin-bottom: 24px