.palliomed-theme .navbar__r3-link.navbar__r3-link-active
  border-bottom: 2px solid #9F66AA
.palliomed-theme .navbar-menu-c1-link.navbar-menu-c1-link-active
  color: #9F66AA
.palliomed-theme .navbar__r2__buttons
  width: 432px

.palliomed-theme .footer
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F8F8F8

.palliomed-theme  .footer-r1-c:nth-child(1) > a , .footer-r1-c:nth-child(2) > a
  color: #000000

.palliomed-theme  .footer-r3
  border-top: 1px solid #E5E5E5

.palliomed-theme .footer-r3
  margin-left: 100px
  margin-right: 100px

@media (min-width: 1400px)
  .palliomed-theme .footer-r3
    padding-left: 0 !important
    padding-right: 0 !important
    margin-left: calc((100vw - 1210px) / 2)!important
    margin-right: calc((100vw - 1170px) / 2)!important


@media (max-width: 1280px)
  .palliomed-theme .footer-r3
    margin-left: 25px
    margin-right: 25px

@media (max-width: 1024px)
  .palliomed-theme .navbar__r2__buttons
    width: 320px
  .palliomed-theme .navbar__r2__buttons-links
    width: 280px

@media (max-width: 768px)
  .palliomed-theme .navbar__r2__buttons-links-el
    display: none

  .palliomed-theme .navbar__r2__buttons-links
    width: 42px
  .palliomed-theme .navbar__r2__buttons
    width: 84px

  .palliomed-theme .navbar__r2__logo
    margin-left: 32px