.project-catalog
  background: #F9F8FA
  padding-left: 115px
  padding-right: 115px
  padding-bottom: 20px
  .supersection-seeall
    margin-top: 48px
  .path
    padding-left: 0
.project-catalog-title
  font-weight: bold
  font-size: 36px
  margin-top: 24px
.project-catalog-menu
  margin-top: 40px
  display: flex
  flex-direction: row
  align-items: center
a.project-catalog-menu-element
  text-decoration: none
  font-weight: bold
  font-size: 16px
  line-height: 24px
  color: black
  margin-left: 8px
  padding: 10px 24px
  background: #FFFFFF
  border-radius: 50px
  word-break: normal
  white-space: nowrap
.project-catalog-menu-element-active
  background: #9F66AA !important
  color: white !important

.project-catalog-grid
  margin-top: 36px
  display: grid
  grid-template-columns: repeat( 2 , 1fr)
  grid-column-gap: 30px
  grid-row-gap: 30px
  .project-card
    width: 100%
    height: auto
    img
      height: auto
    .project-card-info-other-info-text
      margin-right: 0


.pallio-project-slider
  margin-top: 24px
  position: relative
  height: 420px !important
  .mfp-close
    top: 60px !important
  .flickity-viewport
    height: 420px !important
    .flickity-slider
      margin-left: 0 !important
.pallio-project-slider-element
  margin-left: 30px !important
.pallio-project-slider-element > img
  border-radius: 16px

.pallio-project-slider-buttons
  position: absolute
  right: 115px
  left: 115px
  z-index: 1
  display: flex
  flex-direction: row
  justify-content: space-between
  top: calc( 50% - 48px )
h2.acticle-a-h2
  font-weight: bold
  font-size: 36px
  line-height: 110%
  margin-top: 32px

.palliomed-theme.mfp-zoom-out-cur
  .mfp-close
    top: 55px !important
@media (min-width: 1400px)
  .project-catalog
    padding-left: calc((100vw - 1210px) / 2)!important
    padding-right: calc((100vw - 1210px) / 2)!important

@media (max-width: 1320px)
  .project-catalog-grid
    grid-template-columns: repeat( 1 , 1fr)

@media (max-width: 1280px)
  .project-catalog
    padding-left: 50px
    padding-right: 50px
  .pallio-project-slider-buttons
    right: 50px
    left: 50px

@media (max-width: 768px)
  .project-catalog
    padding-right: 24px
    padding-left: 24px
    padding-top: 5px
    padding-bottom: 53px
    .supersection-seeall
      margin-top: 40px
  .project-catalog-menu
    top: 100px
    overflow-y: scroll
    position: absolute
    right: 0
    left: 0px
    a.project-catalog-menu-element:first-child
      margin-left: 24px
  .project-catalog-title
    font-size: 24px
  .project-catalog-grid
    margin-top: 100px

  .pallio-project-slider-buttons > *:not(:nth-child(2))
    display: none
  #projectPageSliderPlay > svg
    height: 48px
    width: 48px
  .pallio-project-slider-buttons
    top: 100px
    left: 24px
  .pallio-project-slider
    height: 180px !important
    .flickity-viewport
      height: 180px !important
  .pallio-project-slider-element > img
    //height: 217px
    border-radius: 8px
    width: 311px
  .pallio-project-slider-element
    margin-left: 8px !important
  h2.acticle-a-h2
    font-size: 24px
    margin-top: 18px
    line-height: 110%