.popup
    background: #fff
    padding: 40px 50px
    margin: auto
    position: relative
    &--item-cart
        width: 770px


.popup.popup--item-cart
    display: none

.mfp-close
    background: url('../img/popup-close.svg') no-repeat
    width: 12px
    height: 12px
    //top: 14px
    //right: 12px
    cursor: pointer
    position: absolute
    z-index: 99999999
    right: 49px
    top: 6px
    color: black
    font-size: 43px

.popup__inner
    padding: 0 100px
.popup-content
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.mfp-content > .popup.popup--item-cart
    display: block

.popup-content >  .letters-slider-r1-text-h
    width: 100%
.popup-content >  .checkout-stage-button
    margin-left: auto
    width: 200px

@media (max-width: 1024px)
    .popup--item-cart
        width: 70vw !important

@media (max-width: 768px)

    .mfp-content > .popup.popup--item-cart
        display: block
    .mfp-content
        width: 100%
        height: 100%
    .mfp-content > .popup--item-cart
        //padding: 24px
        background: white
        position: fixed
        top: 120px
        left: 0
        right: 0
        bottom: 0
        height: 100%
        width: 100% !important
        justify-content: end
        align-items: center
        z-index: 99999999
    .popup__inner
        padding: 0 24px
        width: calc(100% - 48px)
    .popup
        padding-left: 0
        padding-right: 0
        padding-top: 0

    .popup-content
        margin-top: 32px
        justify-content: unset
        height: 89vh
        overflow-y: scroll
        margin-top: 32px
    .popup-content >  .letters-slider-r1-text-h
        font-size: 24px
        margin-top: 0px

    .checkout-ainput-container
        margin-top: 24px

    .checkout-ainput-container:not(:first-child)
        margin-top: 12px

    .popup-content >  .letters-slider-r1-text-p
        width: 100%
        margin-top: 9px
        margin-bottom: 12px
    .popup-content >  .checkout-stage-checkbox
        width: 100%
    .popup-content >  .checkout-stage-button
        width: 100%
        padding: 24px
        margin-bottom: 25px
        height: 0