.popup
    background: #fff
    padding: 40px 50px
    margin: auto
    position: relative
    &--item-cart
        width: 770px

.checkout-ainput-el
    margin-top: 1px
    margin-left: 1px
    height: 37px
.getoffer.getoffer2
    height: 510px
    .getoffer #ddcl-getofferSelect
        display: none !important
    .getoffer-thx
        display: flex !important
        flex-direction: column
    .mfp-close
        display: block !important
    #ddcl-getofferSelect
        display: none !important
.getoffer.getoffer2 > *:not(.getoffer-thx)
    display: none
.getoffer
    background: white
    width: 570px
    height: 620px
    box-sizing: border-box
    margin: auto
    position: relative
    padding: 40px 70px
    margin-bottom: 39px
    .getoffer2-thx-r2
        position: absolute
        bottom: 0
        left: 0
        right: 0
        background: #F9F8FA
        height: 120px
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        .letters-slider-r1-text-p
            margin-top: 0
    .getoffer2-thx-r
        margin-top: 24px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    .getoffer2-thx-r-text
        margin-left: 26px
        font-weight: normal
        font-size: 18px
        line-height: 130%
        color: #828282
        span
            color: black
    .letters-slider-r1-text-h
        font-size: 24px
    .getoffer-thx
        display: none
    .checkout-ainput-container-invalid
        border: 1px solid red
    .checkout-ainput-container
        margin-top: 16px
    .letters-slider-r1-text-p
        font-size: 18px
    textarea[type="text"]
        font-size: 16px
        color: black
        line-height: 150%
    textarea
        background: #FAFAFA
        border: 1px solid #D9DADB
        width: 430px
        height: 72px
        box-sizing: border-box
        resize: none
        margin-top: 16px
        border-radius: 4px
        padding-left: 16px
        padding-top: 12px
        outline: none
    textarea::placeholder
        font-size: 16px
        line-height: 150%
        color: #828282
    #ddcl-getofferSelect > span > span
        font-weight: normal
        font-size: 16px
        line-height: 150%
        color: #828282
    #ddcl-getofferSelect
        margin-top: 21px
        width: 428px
        height: 48px
        background: #FAFAFA
        border: 1px solid #D9DADB
        border-radius: 4px
    #ddcl-getofferSelect > span
        border: none !important
        width: 428px !important
        position: relative
        height: 48px
        background: #FAFAFA
    #ddcl-getofferSelect-ddw
        padding-bottom: 8px
        width: 430px !important
        top: 198px !important
        border-top: none !important
        background: #D9DADB
        padding-bottom: 1px
        //border-left: 1px solid #D9DADB
        //border-right: 1px solid #D9DADB
        border-bottom: 1px solid #D9DADB
    #ddcl-getofferSelect-ddw > div > div
        //border-bottom: 1px solid #D9DADB
    .ui-dropdownchecklist-item.ui-state-default > label
        width: 100% !important
    .ui-dropdownchecklist-item.ui-state-default:first-child
        display: none !important
    .ui-dropdownchecklist-item.ui-state-default
        color: black !important
    .getoffer-submit-text
        font-weight: 300
        font-size: 14px
        line-height: 24px
        letter-spacing: -0.3px
        color: #929497
        width: 238px
    .getoffer-submit-text > a
        color: #9F66AA
        text-decoration: none
    .getoffer-submit-button
        display: flex
        justify-content: center
        align-items: center
        width: 173px
        height: 48px
        background: #9F66AA
        border-radius: 4px
        color: #FFFFFF
        font-weight: bold
        font-size: 16px
        line-height: 24px
    .getoffer-submit
        margin-bottom: 48px
        margin-top: 16px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
.popup.popup--item-cart
    display: none

.mfp-close
    //background: url('../img/popup-close.svg') no-repeat !important
    width: 24px
    height: 24px
    background-size: 100% 100%
    position: absolute
    top: 16px !important
    right: 32px !important
    //top: 14px
    //right: 12px
    cursor: pointer
    position: absolute
    z-index: 99999999
    right: 49px
    top: 6px
    color: black
    font-size: 43px

.popup__inner
    padding: 0 100px
.popup-content
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.mfp-content > .popup.popup--item-cart
    display: block

.popup-content >  .letters-slider-r1-text-h
    width: 100%
.popup-content >  .checkout-stage-button
    margin-left: auto
    width: 200px

@media (max-width: 1024px)
    .popup--item-cart
        width: 70vw !important

@media (max-width: 768px)
    .mfp-close
        width: 24px !important
        height: 32px !important

    .mfp-content > .popup.popup--item-cart
        display: block
    .mfp-content
        width: 100%
        height: 100%
    .mfp-content > .popup--item-cart
        //padding: 24px
        background: white
        position: fixed
        top: 120px
        left: 0
        right: 0
        bottom: 0
        height: 100%
        width: 100% !important
        justify-content: end
        align-items: center
        z-index: 99999999
    .popup__inner
        padding: 0 24px
        width: calc(100% - 48px)
    .popup
        padding-left: 0
        padding-right: 0
        padding-top: 0

    .popup-content
        margin-top: 32px
        justify-content: unset
        height: 89vh
        overflow-y: scroll
        margin-top: 32px
    .popup-content >  .letters-slider-r1-text-h
        font-size: 24px
        margin-top: 0px

    .checkout-ainput-container
        margin-top: 24px

    .checkout-ainput-container:not(:first-child)
        margin-top: 12px

    .popup-content >  .letters-slider-r1-text-p
        width: 100%
        margin-top: 9px
        margin-bottom: 12px
    .popup-content >  .checkout-stage-checkbox
        width: 100%
    .popup-content >  .checkout-stage-button
        width: 100%
        margin-bottom: 25px
        height: 48px

    //.mfp-bg.mfp-ready ~ .article
    //    height: 0
    //    overflow: hidden !important
