@import "_modules/navbar"
@import "_modules/index-hcard"
@import "_modules/pcategory"
@import "_modules/customerchoice"
@import "_modules/advantages"
@import "_modules/reviews"
@import "_modules/companies"
@import "_modules/footer"
@import "_modules/supersection-category"
@import "_modules/supersection-seeall"
@import "_modules/supersection-needtoknow"
@import "_modules/search"
@import "_modules/path"
@import "_modules/article"
@import "_modules/compare-slider"
@import "_modules/letters-slider"
@import "_modules/about-reviews"
@import "_modules/navbar-menu"
@import "_modules/cart"
@import "_modules/checkout"
@import "_modules/item"
@import "_modules/popups"
@import "_modules/filters"
@import "_modules/contacts"

*
  margin: 0
  padding: 0
  border: 0
  font-family: "Cera Pro"

.wrapper
  height: 4000px
  width: 100%

.article
  padding: 160px 0px 0px 0px

.index-devpage
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.index-devpage > a
  color: black
  margin-top: 25px
  font-size: 34px
  font-weight: bold

.navbar__r3-link:hover,
.search-input-close:hover,
.navbar__r2__buttons-search:hover,
.navbar__r2__buttons-compare:hover,
.navbar__r2__buttons__cart-ico:hover,
.pcategory__buttons-btn:hover,
.customerchoice__r1__button-btn:hover,
.reviews-buttons-el:hover,
.needtoknow-r1-buttons-btn:hover,
.compare-slider-r1-buttons-btn:hover,
.letters-slider-r1-button-btn:hover,
.about-reviews-buttons-btn:hover
  cursor: pointer

button
  cursor: pointer
  &:focus
    outline: none

.flickity-slider
  margin-left: 115px !important

.item-main-preview-main > div > div, .item-main-preview-nav-container > div > .flickity-slider
  margin-left: 0 !important

#cpuslider > div > div, #cpuslider > div > .flickity-slider
  margin-left: 25px !important

.wdtwrapper, .wdtwrapper-b, .wdtwrapper-g
  width: 100%

.wdtwrapper-g
  background: rgba(217,218,219,0.1)
.reviews__slider-element:first-child
  padding-left: 0

.wdtwrapper-b
  background: linear-gradient(0deg, #F9FCFE, #F9FCFE)
#aboutreviewsSlider > div
  height: 300px !important
#aboutreviewsSlider > div > div
  margin-left: 0 !important

//#officeSlider > div >div
//  margin-left: 0 !important

@media (min-width: 1400px)
  .map__contacts
    left: calc((100vw - 1210px) / 2)
  .footer-r2
    margin-left: calc((100vw - 1210px) / 2) !important
    margin-right: calc((100vw - 1200px) / 2) !important
  .wdtwrapper, .wdtwrapper-b,
  .customerchoice__r1, .pcategory-r,
  .reviews-r1, .companies,
  .wdtwrapper-g, .footer > .footer-r1,
  .footer-r3, .needtoknow-r1,
  .compare-slider-r1, .needtoknow-r1,
  .letters-slider-r1 , .article-a,
  .article-quote-wrapper, .cart-wrapper,
  .checkout-wrapper, .supersection-h,
  .supersection-grid, .search-result-h, .office-gallery > h1
    margin-left: 0 !important
    padding-left: calc((100vw - 1210px) / 2) !important
    padding-right: calc((100vw - 1240px) / 2) !important
    width: 1210px
    margin-right: 0 !important

  .navbar.navbar-scrollup>.navbar__r2>.navbar__r2__scrollup
    left: calc( (100vw - 1210px) / 2 + 250px )
  .office-gallery__buttons
    width: 130px
    padding-left: calc((100vw - 1210px) / 2) !important
    padding-right: calc((100vw - 1240px) / 2) !important

  .office-gallery
    padding-left: 0
    padding-right: 0

  .compare-slider-spec-t
    left: calc((100vw - 1180px) / 2) !important
  .flickity-slider
    margin-left: calc((100vw - 1210px) / 2) !important
  .navbar
    padding-left: calc((100vw - 1210px) / 2) !important
    padding-right: calc((100vw - 1210px) / 2) !important
  .advantages
    margin-left: 0
    margin-right: 0
  .index-hcard
    margin-left: 0
    margin-right: 0
  .navbar__r3
    width: 1210px
  .navbar__r3-link:first-child, .navbar__r3-link:last-child
    margin-right: 0
    margin-left: 0
  .path
    padding-left: 0
  .supersection-category , .filters
    padding-left: 0
    padding-right: 0
  .navbar
    border-bottom: 2px solid #eeefef
  .navbar__r3
    border-bottom: none
  .navbar.navbar-scrollup
    border-bottom: none
  .article-a
    padding-left: 0
  .article-quote
    margin: 0
  #itemMenu
    max-width: 1200px
  .navbar__r3-link
    padding-right: 13px
    padding-left: 14px
  .search-input
    padding-left: 0
  .search-hint-el
    margin-left: 0
  .search-hints
    width: 350px
  .filters-r1-price-input
    width: 142px !important
  #ddcl-filtersMultiselect2
    width: calc( 1400px / 100 * 17  ) !important
    margin-left: 10px
  #ddcl-filtersMultiselect2-ddw , #ddcl-filtersMultiselect1-ddw
    width: calc( 1400px / 100 * 17 - 2px ) !important
  #ddcl-filtersMultiselect2-ddw
    margin-left: 10px

  #ddcl-filtersMultiselect1
    width: calc( 1400px / 100 * 17 ) !important
  .customerchoice__slider-element.customerchoice__slider-element-grid
    margin-left: 0

@media (max-width: 1260px)
  .flickity-slider
    margin-left: 50px !important

@media (max-width: 1024px)
  .article

@media (max-width: 768px)

  .article
    padding-top: 56px
  .flickity-slider
    margin-left: 24px !important
  .customerchoice__slider-element
    margin: 0 8px
  .reviews__slider-element:not(:first-child)
    margin-left: 16px
  .customerchoice__slider-element.customerchoice__slider-element-grid
    margin: 0 !important

@media (max-width: 390px)
  .customerchoice__slider-element.customerchoice__slider-element-grid
    margin: 0 !important
    //margin-right: 0 !important
  .filters-mobileonly
    width: 148px !important
  .filters-r2-sort>span
    width: 148px !important