@import "_modules/navbar"
@import "_modules/index-hcard"
@import "_modules/pcategory"
@import "_modules/customerchoice"
@import "_modules/advantages"
@import "_modules/reviews"
@import "_modules/companies"
@import "_modules/footer"
@import "_modules/supersection-category"
@import "_modules/supersection-seeall"
@import "_modules/supersection-needtoknow"
@import "_modules/search"
@import "_modules/path"
@import "_modules/article"
@import "_modules/compare-slider"
@import "_modules/letters-slider"
@import "_modules/about-reviews"
@import "_modules/navbar-menu"
@import "_modules/cart"
@import "_modules/checkout"
@import "_modules/item"
@import "_modules/popups"
@import "_modules/contacts"

*
  margin: 0
  padding: 0
  border: 0
  font-family: "Cera Pro"

.wrapper
  height: 4000px
  width: 100%

.article
  padding: 160px 0px 0px 0px


.index-devpage
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.index-devpage > a
  color: black
  margin-top: 25px
  font-size: 34px
  font-weight: bold

.navbar__r3-link:hover,
.search-input-close:hover,
.navbar__r2__buttons-search:hover,
.navbar__r2__buttons-compare:hover,
.navbar__r2__buttons__cart-ico:hover,
.pcategory__buttons-btn:hover,
.customerchoice__r1__button-btn:hover,
.reviews-buttons-el:hover,
.needtoknow-r1-buttons-btn:hover,
.compare-slider-r1-buttons-btn:hover,
.letters-slider-r1-button-btn:hover,
.about-reviews-buttons-btn:hover
  cursor: pointer

button 
  cursor: pointer

@media (max-width: 1260px)
  .article

@media (max-width: 1024px)
  .article

@media (max-width: 768px)

  .article
    padding-top: 56px
