doctype
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./fonts/CeraPro/stylesheet.css')
    link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css")
    link(rel='stylesheet', href='./css/main.css')
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
    script(src='./js/main.js')

  body

    .article
      != yield




