doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='./fonts/CeraPro/stylesheet.css')
        link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css")
        link(rel='stylesheet', href='https://unpkg.com/flickity-fullscreen@1/fullscreen.css')
        link(rel='stylesheet' href="./css/ui.dropdownchecklist.standalone.css")
        link(rel='stylesheet', href='./css/jquery-ui.min.css')
        link(rel='stylesheet', href='./css/main.css')
        script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
        script(src='https://code.jquery.com/jquery-1.11.2.min.js', integrity='sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA=', crossorigin='anonymous')
        script(src="https://unpkg.com/fast-average-color/dist/index.min.js")
        script(src='./js/jquery-ui.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
        script(src='./js/ui.dropdownchecklist-1.5-min.js')
        script(src='https://unpkg.com/flickity-fullscreen@1/fullscreen.js')
        script(src='./js/main.js')

    body.palliomed-theme

        .article
            != yield



