!= partial("./_tmp/navbar")
.wdtwrapper
    != partial("./_tmp/path")
!= partial("./_tmp/supersection-needtoknow")
!= partial("./_tmp/supersection-seeall")
!= partial("./_tmp/letters-slider")
!= partial("./_tmp/companies")
.wdtwrapper-g
    != partial("./_tmp/about-reviews")
.article-a(style="padding-top: 0px")
    != partial("./_tmp/article-text")
.wdtwrapper
    != partial("./_tmp/advantages")
!= partial("./_tmp/footer")