!= partial("_tmp/phone-popup")
!= partial("_tmp/navbar")
!= partial("_tmp/path" , { background : "background: rgb(255,255,255)"})

!= partial("_tmp/article")

!= partial("_tmp/customerchoice" , { sliderId : "ccslider" , buttonPrev : "ccsliderPrev" , buttonNext : "ccsliderNext" , text : "Товары к новости"})
!= partial("_tmp/customerchoice" , { sliderId : "ccslider" , buttonPrev : "ccsliderPrev" , buttonNext : "ccsliderNext" , text : "Еще товары из этой категории"})
!= partial("_tmp/advantages")
!= partial("_tmp/footer")