!= partial("_tmp/navbar")

!= partial("_tmp/cart")

!= partial("_tmp/customerchoice", {
    sliderId: "ccslider",
    buttonPrev: "ccsliderPrev",
    buttonNext: "ccsliderNext",
    text: "Не забудьте приобрести"
})
!= partial("_tmp/advantages")
!= partial("_tmp/footer")