
!= partial("_tmp/navbar")

.map
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4d807253597a3e3d7c52827a8964c46ca25f4e174f8ff0380dc048cd66ff9e29&width=100%25&height=500&lang=ru_RU&scroll=false')


!= partial("_tmp/footer")