.index-devpage
    img.navbar__r2__logo-img(src='./img/logo.svg', alt='')
    a(href="./main.html") Главная
    a(href="./search.html") Поиск
    a(href="./supersection.html") Каталог
    a(href="./compare.html") Сравнить
    a(href="./about.html") О компании
    a(href="./article.html") Статья
    a(href="./cart.html") Корзина
    a(href="./checkout.html") Оформление заказа
    a(href="./item.html") Страница товара
    a(href="./supersection-category.html") Каталог категории
    a(href="./search-result.html") Результат поиска
    a(href="./contacts.html") Контакты
    img.navbar__r2__logo-img(src='./img/pallio-logo.svg', alt='')
    a(href="./pallio-main.html") Главная
    a(href="./pallio-supersection.html") Каталог
    a(href="./pallio-supersection-category.html") Каталог категории
    a(href="./pallio-contacts.html") Контакты
    a(href="./pallio-article.html") Статья
    a(href="./pallio-for-business.html") Для бизнеса
    a(href="./pallio-news.html") Новости / Блог
    a(href="./pallio-project-catalog.html") Каталог проектов
    a(href="./pallio-project.html") Страница проекта
    a(href="./pallio-brands.html") Производители
    a(href="./pallio-letters.html") Письма
    a(href="./pallio-brand.html") Страница бренда
    a(href="./pallio-search.html") Поиск
    a(href="./pallio-search-project.html") Поиск проектов
    a(href="./pallio-search-result.html") Результаты поиска
    a(href="./pallio-item.html") Страница товара