.index-devpage
    img.navbar__r2__logo-img(src='./img/logo.svg', alt='')
    a(href="./main.html") Главная
    a(href="./search.html") Поиск
    a(href="./supersection.html") Каталог
    a(href="./compare.html") Сравнить
    a(href="./about.html") О компании
    a(href="./article.html") Статья