!= partial("_tmp/navbar")
!= partial("_tmp/path")

!= partial("_tmp/item2")

.article-a
    .article-specs
        .article-specs-table
            .article-specs-table-el
                .article-specs-table-el-r Насыщенность кислорода
                .article-specs-table-el-r 87-96%
            .article-specs-table-el
                .article-specs-table-el-r Производительность в импульсном режиме
                .article-specs-table-el-r до 6л / мин
            .article-specs-table-el
                .article-specs-table-el-r Мощность
                .article-specs-table-el-r 120 - 150 Вт (в зависимости от режима)
            .article-specs-table-el
                .article-specs-table-el-r Насыщенность кислорода
                .article-specs-table-el-r 87-96%
            .article-specs-table-el
                .article-specs-table-el-r Производительность в импульсном режиме
                .article-specs-table-el-r до 6л / мин
            .article-specs-table-el
                .article-specs-table-el-r Мощность
                .article-specs-table-el-r 120 - 150 Вт (в зависимости от режима)
            .article-specs-table-el
                .article-specs-table-el-r Насыщенность кислорода
                .article-specs-table-el-r 87-96%
            .article-specs-table-el
                .article-specs-table-el-r Производительность в импульсном режиме
                .article-specs-table-el-r до 6л / мин
            .article-specs-table-el
                .article-specs-table-el-r Мощность
                .article-specs-table-el-r 120 - 150 Вт (в зависимости от режима)


    .article-specs-equipment
        .article-specs-equipment-h Комплектация
        ul.article-specs-equipment-ul
            li.article-specs-equipment-ul-li Концентратор кислорода SimplyGo —	1 шт
            li.article-specs-equipment-ul-li Тележка для перевозки —	1 шт
            li.article-specs-equipment-ul-li Блок питания на 220/110 В —	1 шт
            li.article-specs-equipment-ul-li Блок питания для подключения к прикуривателю —	1 шт
            li.article-specs-equipment-ul-li Литий-ионный аккумулятор —	1 шт
            li.article-specs-equipment-ul-li Чехол для переноски концентратора —	1 шт
            li.article-specs-equipment-ul-li Плечевой ремень для переноски —	1 шт
            li.article-specs-equipment-ul-li Увлажнитель кислорода в сумке (опция) —	1 шт
            li.article-specs-equipment-ul-li Гарантийный талон —	1 шт
            li.article-specs-equipment-ul-li Инструкция по эксплуатации —	1 шт












!= partial("_tmp/customerchoice", {sliderId: "ccslider",buttonPrev: "ccsliderPrev",buttonNext: "ccsliderNext",text: "Выбор покупателей"})
!= partial("_tmp/customerchoice", {sliderId: "ccslider",buttonPrev: "ccsliderPrev",buttonNext: "ccsliderNext",text: "Выбор покупателей"})
!= partial("_tmp/advantages")
!= partial("_tmp/footer")

!= partial("_tmp/item-cart-popup")