!= partial("_tmp/navbar")
!= partial("_tmp/path")

!= partial("_tmp/item")


!= partial("_tmp/customerchoice", {sliderId: "ccslider",buttonPrev: "ccsliderPrev",buttonNext: "ccsliderNext",text: "Выбор покупателей"})
!= partial("_tmp/customerchoice", {sliderId: "ccslider",buttonPrev: "ccsliderPrev",buttonNext: "ccsliderNext",text: "Выбор покупателей"})
!= partial("_tmp/advantages")
!= partial("_tmp/footer")