!= partial("_tmp/phone-popup")
!= partial("_tmp/navbar")
!= partial("_tmp/index-hcard")
!= partial("_tmp/pcategory")
!= partial("_tmp/customerchoice", {
    sliderId: "ccslider",
    buttonPrev: "ccsliderPrev",
    buttonNext: "ccsliderNext",
    text: "Выбор покупателей"
})
!= partial("_tmp/advantages")
!= partial("_tmp/reviews")
!= partial("_tmp/companies")
!= partial("_tmp/footer")