!= partial("./_tmp/pallio-navbar")
!= partial("./_tmp/pallio-header")
!= partial("./_tmp/pallio-main-cards")
!= partial("./_tmp/pcategory")
!= partial("./_tmp/reviews")
!= partial("./_tmp/companies")
!= partial("./_tmp/project-slider")
!= partial("./_tmp/pallio-footer")