!= partial("./_tmp/pallio-navbar")
.wdtwrapper(style="background: #F9F8FA")
    != partial("_tmp/path" , { background : "background: #F9F8FA"})
.pallio-news-wrapper#brandContainer
    .pallio-brand-container
        .pallio-brand-container-text
            img.pallio-brand-container-text-logo(src="./img/logo3.png")
            .pallio-brand-container-text-p Philips — это ведущая технологическая компания, нацеленная на улучшение качества жизни людей на всех этапах континуума здоровья – от ведения здорового образа жизни, профилактики и ранней диагностики до лечения и ухода на дому. Philips обладает глубокой экспертизой в сфере потребительских товаров и здравоохранении и использует передовые технологии для предоставления комплексных решений. Компания занимает лидирующие позиции в  области медицинской визуализации, мониторинга пациентов и ИТ-систем, а также решений для персонального ухода и техники для дома.
        a.pallio-brand-container-letter(href="https://i.stack.imgur.com/Q4d1k.png")
            img.pallio-brand-container-letter-img(src="./img/img51.png")
            .pallio-brand-container-letter-text Philips дает разрешение на право эксклюзивных продаж
!= partial("_tmp/customerchoice", {sliderId: "ccslider",buttonPrev: "ccsliderPrev",buttonNext: "ccsliderNext",text: "Товары от производителя"})
!= partial("./_tmp/supersection-seeall")
!= partial("_tmp/companies")
!= partial("./_tmp/pallio-provider-project")
!= partial("./_tmp/pallio-footer")