!= partial("./_tmp/pallio-navbar")
.wdtwrapper-b
    != partial("_tmp/path" , { background : "background : #F9FCFE"})
!= partial("_tmp/customerchoice" , { sliderId : "catalogcategory1" , buttonPrev : "catalogcategory1Prev" , buttonNext : "catalogcategory1Next" , text : "Стационарные концентраторы"})
.wdtwrapper-b
    != partial("_tmp/supersection-seeall" , { background : "background: #F9F8FA;"})

!= partial("_tmp/customerchoice" , { sliderId : "catalogcategory2" , buttonPrev : "catalogcategory2Prev" , buttonNext : "catalogcategory2Next" , text : "Портативные концентраторы"})
.wdtwrapper-b
    != partial("_tmp/supersection-seeall" , { background : "background: #F9F8FA;"})
    != partial("_tmp/supersection-category", { background : "background: #F9F8FA;" })
!= partial("_tmp/pallio-provider-project")


!= partial("_tmp/footer")