!= partial("_tmp/pallio-navbar")

!= partial("./_tmp/pallio-header")
.wdtwrapper
    != partial("_tmp/advantages")

.article-a.article-for-business
    h3.acticle-a-h3 Авторизация проектов
    != partial("./_tmp/article-text")
    h3.acticle-a-h3 Авторизация проектов
    != partial("./_tmp/article-text")
    h3.acticle-a-h3 Авторизация проектов
    != partial("./_tmp/article-text")

!= partial("_tmp/pallio-provider-project")
!= partial("./_tmp/project-slider")

!= partial("_tmp/pallio-footer")