!= partial("./_tmp/pallio-navbar")
.wdtwrapper(style="background: #F9F8FA")
    != partial("_tmp/path" , { background : "background: #F9F8FA"})
.pallio-news-wrapper
    .pallio-news-title Авторизационные письма
    .pallio-news-subtitle Мы являемся официальным поставщиком ведущих мировых компаний, занятых в сфере респираторной медицинской техники: Philips, Invacare, DeVilbiss, Weinmann, Bitmos, BMC.
    .pallio-letters-grid
        .pallio-letters-grid-element
            img.companies-element(src="./img/logo1.png")
            a.letters-slider-sl-element(href="https://i.stack.imgur.com/Q4d1k.png")
                img.letters-slider-sl-element-img(src="./img/img51.png")
                p.letters-slider-sl-element-text Bitmos поддтверждает право эксклюзивных продаж своих аппаратов

        .pallio-letters-grid-element
            img.companies-element(src="./img/logo1.png")
            a.letters-slider-sl-element(href="https://i.stack.imgur.com/Q4d1k.png")
                img.letters-slider-sl-element-img(src="./img/img51.png")
                p.letters-slider-sl-element-text Bitmos поддтверждает право эксклюзивных продаж своих аппаратов
        .pallio-letters-grid-element
            img.companies-element(src="./img/logo1.png")
            a.letters-slider-sl-element(href="https://i.stack.imgur.com/Q4d1k.png")
                img.letters-slider-sl-element-img(src="./img/img51.png")
                p.letters-slider-sl-element-text Bitmos поддтверждает право эксклюзивных продаж своих аппаратов



        .pallio-letters-grid-element
            img.companies-element(src="./img/logo1.png")
            a.letters-slider-sl-element(href="https://i.stack.imgur.com/Q4d1k.png")
                img.letters-slider-sl-element-img(src="./img/img51.png")
                p.letters-slider-sl-element-text Bitmos поддтверждает право эксклюзивных продаж своих аппаратов

        .pallio-letters-grid-element
            img.companies-element(src="./img/logo1.png")
            a.letters-slider-sl-element(href="https://i.stack.imgur.com/Q4d1k.png")
                img.letters-slider-sl-element-img(src="./img/img51.png")
                p.letters-slider-sl-element-text Bitmos поддтверждает право эксклюзивных продаж своих аппаратов

        .pallio-letters-grid-element
            img.companies-element(src="./img/logo1.png")
            a.letters-slider-sl-element(href="https://i.stack.imgur.com/Q4d1k.png")
                img.letters-slider-sl-element-img(src="./img/img51.png")
                p.letters-slider-sl-element-text Bitmos поддтверждает право эксклюзивных продаж своих аппаратов
        .pallio-letters-grid-element
            img.companies-element(src="./img/logo1.png")
            a.letters-slider-sl-element(href="https://i.stack.imgur.com/Q4d1k.png")
                img.letters-slider-sl-element-img(src="./img/img51.png")
                p.letters-slider-sl-element-text Bitmos поддтверждает право эксклюзивных продаж своих аппаратов



        .pallio-letters-grid-element
            img.companies-element(src="./img/logo1.png")
            a.letters-slider-sl-element(href="https://i.stack.imgur.com/Q4d1k.png")
                img.letters-slider-sl-element-img(src="./img/img51.png")
                p.letters-slider-sl-element-text Bitmos поддтверждает право эксклюзивных продаж своих аппаратов

    != partial("./_tmp/supersection-seeall")
!= partial("./_tmp/pallio-footer")