!= partial("./_tmp/pallio-navbar")
.wdtwrapper(style="background: #F9F8FA")
    != partial("_tmp/path" , { background : "background: #F9F8FA"})
.pallio-news-wrapper
    .pallio-news-title Производители
    .pallio-brands-grid
        img.companies-element(src="./img/logo1.png")
        img.companies-element(src="./img/logo2.png")
        img.companies-element(src="./img/logo3.png")
        img.companies-element(src="./img/logo4.png")
        img.companies-element(src="./img/logo5.png")
        img.companies-element(src="./img/logo1.png")
        img.companies-element(src="./img/logo2.png")
        img.companies-element(src="./img/logo3.png")
        img.companies-element(src="./img/logo4.png")
        img.companies-element(src="./img/logo5.png")
        img.companies-element(src="./img/logo4.png")
        img.companies-element(src="./img/logo5.png")
!= partial("./_tmp/pallio-footer")