!= partial("_tmp/pallio-navbar")
.wdtwrapper-b
    != partial("_tmp/path" , { background : "background : #F9FCFE"})

.supersection-h Стационарные концентраторы
.wdtwrapper-b
    != partial("_tmp/filters")
.supersection-grid
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
    != partial("_tmp/item-card", {gridclass: "customerchoice__slider-element-grid"})
!= partial("_tmp/supersection-seeall" , { background : "background : #F9FCFE"})
!= partial("_tmp/pallio-provider-project")

!= partial("_tmp/pallio-footer")
