!= partial("_tmp/navbar")

.search-result-h Маска
    span (63)
!= partial("_tmp/filters")

.supersection-grid
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")
    != partial("_tmp/item-card")

!= partial("_tmp/footer")
