!= partial("_tmp/phone-popup")
!= partial("_tmp/navbar")

!= partial("_tmp/customerchoice" , { sliderId : "catalogcategory1" , buttonPrev : "catalogcategory1Prev" , buttonNext : "catalogcategory1Next" , text : "Стационарные концентраторы"})
!= partial("_tmp/customerchoice" , { sliderId : "catalogcategory1" , buttonPrev : "catalogcategory1Prev" , buttonNext : "catalogcategory1Next" , text : "Портативные концентраторы"})

!= partial("_tmp/supersection-category")



!= partial("_tmp/footer")