!= partial("_tmp/phone-popup")
!= partial("_tmp/navbar")

!= partial("_tmp/customerchoice" , { sliderId : "catalogcategory1" , buttonPrev : "catalogcategory1Prev" , buttonNext : "catalogcategory1Next" , text : "Стационарные концентраторы"})
!= partial("_tmp/supersection-seeall" , { background : "background : #F9FCFE"})
!= partial("_tmp/customerchoice" , { sliderId : "catalogcategory1" , buttonPrev : "catalogcategory1Prev" , buttonNext : "catalogcategory1Next" , text : "Портативные концентраторы"})
!= partial("_tmp/supersection-seeall" , { background : "background : #F9FCFE"})
!= partial("_tmp/supersection-category", { background : "background : #F9FCFE" })
!= partial("_tmp/supersection-needtoknow")
!= partial("_tmp/supersection-seeall" , { background : "background : white"})
!= partial("_tmp/advantages")




!= partial("_tmp/footer")